#sub-step-error,
#proxy_calculator_result,
.plan-box,
.sub-step {
    display: none;
}
.custom-style .big-input {
    font-size:22px !important;
    padding: 20px !important;
    text-align: center;
}
.vspacer-15 {
    height:15px;
}
.filter-item {
    display:inline-block;
    margin-right:15px;
}
.plan-filter {
    margin-bottom:15px;
}
.proxy_price {
    font-size: 32px;
}
.cusScrollbar{background-color:lightgray;height: auto;max-height: 208px;overflow-x: hidden;overflow-y:scroll;min-width: 135px;margin-top: 0px;}
.cusScrollbar::-webkit-scrollbar { width:10px;background-color:#cccccc; }
.cusScrollbar::-webkit-scrollbar-thumb { background-color:#2A2E36;border-radius:10px; }
.cusScrollbar::-webkit-scrollbar-thumb:hover { background-color:#2A2E36;border:1px solid #333333; }
.cusScrollbar::-webkit-scrollbar-thumb:active { background-color:#2A2E36;border:1px solid #333333; }
#ddCountryList li {
    padding-top: 0;
    padding-bottom: 0;
    width: 100%;
}
#ddCountryList li a {
    margin-top: 1px;
    margin-bottom: 1px;
    padding-top: 2px;
    padding-bottom: 2px;
}
.btn-large-dim-checkout {
    width:auto !important;
}
#checkout_button {
    margin-top:60px;
    text-align: center;
}
.footer {
    position:absolute;
    bottom:0;
}
.label-lg {
    display: inline-block;
    padding: 6px 12px;
    margin: 3px;
    font-size: 14px;
    border-radius: 4px;
}
.cursor-pointer {
    cursor: pointer;
}
input.region {
    text-align: center;
}
.margin-left-10 {
    margin-left:10px;
}
#proxyList {
    font-size:16px;
}
.sub-step {
    min-height:280px;
}
.display-none {
    display: none;
}
.max-logo {
    max-width: 120px !important;
    max-height:120px !important;
}