<!doctype html>
<html class="no-js" lang="en">
<head>
    {% block head %}
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>{% block title %}{% endblock %}</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="apple-touch-icon" href="apple-touch-icon.png">

        <link rel="stylesheet" href="{{ app_url }}/gui/css/bootstrap.min.css">
        <link rel="stylesheet" href="{{ app_url }}/gui/font-awesome/css/font-awesome.min.css">
        <link rel="stylesheet" href="{{ app_url }}/gui/css/plugins/steps/jquery.steps.css">
        <link rel="stylesheet" href="{{ app_url }}/gui/css/plugins/select2/select2.min.css">
        <link rel="stylesheet" href="{{ app_url }}/gui/css/plugins/touchspin/jquery.bootstrap-touchspin.min.css">
        <link rel="stylesheet" href="{{ app_url }}/gui/css/plugins/iCheck/custom.css">
        <link rel="stylesheet" href="{{ app_url }}/gui/css/animate.css">
        <link rel="stylesheet" href="{{ app_url }}/gui/css/style.css">
        <link rel="stylesheet" href="{{ app_url }}/gui/css/custom.css">
    {% endblock %}
</head>
<body class="gray-bg">
<div id="app_url" class="hidden" data-value="{{ app_url }}"></div>
<div>

<!-- main content -->
<div class="wrapper wrapper-content animated fadeIn">
    {% block content %}
        <div class="clearfix"></div>
    {% endblock %}
</div>
<!-- end main content -->

    <div class="footer fixed_full">
        <div>
            {% block footer %}
                &copy; <strong>Copyright</strong> {{ copyright_year }} by <a
                    href="http://{{ app_url }}">{{ app_name }}</a>.
            {% endblock %}
        </div>
    </div>
</div>
<script src="{{ app_url }}/gui/js/jquery-2.1.1.js"></script>
<script src="{{ app_url }}/gui/js/bootstrap.min.js"></script>
<script src="{{ app_url }}/gui/js/plugins/metisMenu/jquery.metisMenu.js"></script>
<script src="{{ app_url }}/gui/js/plugins/slimscroll/jquery.slimscroll.min.js"></script>
<script src="{{ app_url }}/gui/js/plugins/staps/jquery.steps.min.js"></script>
<script src="{{ app_url }}/gui/js/plugins/validate/jquery.validate.min.js"></script>
<script src="{{ app_url }}/gui/js/plugins/select2/select2.full.min.js"></script>
<script src="{{ app_url }}/gui/js/plugins/touchspin/jquery.bootstrap-touchspin.min.js"></script>
<script src="{{ app_url }}/gui/js/plugins/slimscroll/jquery.slimscroll.min.js"></script>
<script src="{{ app_url }}/gui/js/plugins/datapicker/bootstrap-datepicker.js"></script>
<script src="{{ app_url }}/gui/js/plugins/daterangepicker/daterangepicker.js"></script>
<script src="{{ app_url }}/gui/js/jquery.number.min.js"></script>
<script src="{{ app_url }}/gui/js/plugins/pace/pace.min.js"></script>
<script src="{{ app_url }}/gui/js/plugins/iCheck/icheck.min.js"></script>
<script src="{{ app_url }}/gui/js/plugins/js-cookie/src/js.cookie.js"></script>
<script src="{{ app_url }}/gui/js/common.js"></script>
</body>
</html>