{% extends "layout.html.twig" %}
{% block content %}

    <div class="middle-box text-center loginscreen animated fadeInDown">
        {% include 'notifications.html.twig' %}
        <p class="center-block"><img src="{{ logo_url }}" width="120" /></p>
        <div class="vspacer-15"></div>
        <div>
            <h3>Login</h3>
            <form class="m-t" role="form" method="POST" action="/login_action">
                <div class="form-group">
                    <input type="text" class="form-control" name="username" placeholder="Username" autocomplete="off" id="member_login" value="{{ posted_data.username }}">
                    {% if errors.Username %} <p class="text-danger">{{ errors.Username }}</p> {% endif %}
                </div>
                <div class="form-group">
                    <input type="password" name="password" placeholder="Password" id="password" class="form-control" autocomplete="off">
                    {% if errors.Password %} <p class="text-danger">{{ errors.Password }}</p> {% endif %}
                </div>
                <button type="submit" class="btn btn-primary block full-width m-b">Login</button>

                <a href="/passwordReset"><small>Forgot password?</small></a>
                <p class="text-muted text-center"><small>Do not have an account?</small></p>
                <a class="btn btn-sm btn-white btn-block" href="/register">Create an account</a>
            </form>
        </div>
    </div>
{% endblock %}
