<div>
    {% if success_msg or success %}
        <div class="alert alert-success">
            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
            {{ success_msg | raw }}</div>
    {% endif %}
    {% if error_msg %}
        <div class="alert alert-danger">
            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
            {{ error_msg | raw }}</div>
    {% endif %}
    {% if error and message %}
        <div class="alert alert-danger">
            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
            API Error Message: {{ message | raw }}</div>
    {% endif %}
    {% if info_msg %}
        <div class="alert alert-info">
            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
            {{ info_msg | raw }}
        </div>
    {% endif %}
</div>