<div class="text-center">
    <div class="btn-group">
        <a href="{{ paging.prevLink }}" class="btn btn-white {% if paging.range[1] == 1 %} disabled{% endif %}"><i class="fa fa-chevron-left"></i> Next</a>
        {% for link in paging.rangeLinks %}
        <a href="{{ link.url }}" class="btn btn-white{% if link.page == paging.current %} active {% endif %}">{{ link.page }}</a>
        {% endfor %}
        <a href="{{ paging.nextLink }}" class="btn btn-white {% if paging.range[1] == 1 %} disabled{% endif %}"><i class="fa fa-chevron-right"></i> Next</a>
    </div>
</div>
