<form id="planForm" method="post" class="wizard-big">
    <input type="hidden" id="plan_country" name="action" value="add_user">
    <input type="hidden" id="plan_country" name="plan[country]" value="{{ posted_data.plan.country }}">
    <input type="hidden" id="plan_category" name="plan[category]" value="{{ posted_data.plan.category }}">
    <div id="validation_step" class="hidden" data-step="{{ wizard_step | default(0) }}"></div>

    <div class="text-danger font-bold text-center" id="sub-step-error"></div>

    <h1>Country</h1>
    <fieldset>

        <div>

            <h2 class="text-center">Choose a country</h2>

            <div class="row">
                <div class="col-lg-12" id="register-country-button-container">

                </div>
                <div class="col-md-4 col-md-offset-4 text-center">

                    <div class="btn-group">
                        <button data-toggle="dropdown" aria-labelledby="ddCountry" class="btn btn-default dropdown-toggle">
                            Select a country
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu cusScrollbar" id="ddCountry">
                            {%  for country,regions in locations %}
                                <li data-country="{{ country }}" class="btn btn-default register-country-button"><a role="button"><img src="{{ app_url }}/gui/img/flags/32/{{ country }}.png"> {{ getCountryLabel(country) }}</a> </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>

        </div>
    </fieldset>

    <h1>Category</h1>
    <fieldset>
        <div>

            <h2 class="text-center"><img data-imagepath="{{ app_url }}/gui/img/flags/32/" class="chosenCountryImage" src=""> Choose a proxy category</h2>

            <div class="tooltip-container text-center">
                <div>
                    <button type="button" class="btn btn-default register-category-button" data-category="semi-3">Semi-Dedicated</button>

                    <button type="button" class="btn btn-default toggle-info-semi-dedicated">
                        <i class="fa fa-question-circle"></i></button>
                </div>
                <div class="info-semi-dedicated">
                    <small>
                        Semi-dedicated proxies are shared between 3 users.
                        This means the other 2 users could potentially ban your IP on the same sites you are using them on, however the prices are significantly less.
                        Do not use this option for social media accounts.
                    </small>
                </div>
                <div class="vspacer-15"></div>
                <div>
                    <button type="button" class="btn btn-default register-category-button" data-category="dedicated">Dedicated</button>

                    <button type="button" class="btn btn-default toggle-info-dedicated">
                        <i class="fa fa-question-circle"></i></button>

                </div>
                <div class="info-dedicated">
                    <small>
                        Dedicated proxies are used by ONLY you. No other user will have access to these IPs, so this option is best suited for needs such as social media accounts.
                    </small>
                </div>
                <div class="vspacer-15"></div>
                <div>

                    <button type="button" class="btn btn-default register-category-button" data-category="rotate">Rotating</button>

                    <button type="button" class="btn btn-default toggle-info-rotating">
                        <i class="fa fa-question-circle"></i></button>
                </div>

                <div class="info-rotating">
                    <small>
                        Rotating proxies give you a single IP and multiple ports. Upon connecting to one of the ports, your traffic will be automatically routed to a proxy IP. Every 10-120 minutes (you choose), that port you connect to will route to a different IP. We currently have over 6000 IPs in our rotating pool.
                    </small>
                </div>
            </div>

        </div>
    </fieldset>
    <h1>Proxies</h1>
    <fieldset>
            <h2 class="text-center"><img data-imagepath="{{ app_url }}/gui/img/flags/32/" class="chosenCountryImage" src=""> <span class="chosenCategory"></span></h2>

            <h2 class="text-center">Type the number of proxies you want</h2>
            <div class="row">
                <div class="col-md-4 col-md-offset-4">
                    <div class="form-group">
                        <input autocomplete="off" type="text" class="form-control touchspin text-center" name="plan[count]" id="proxy_calculator" value="{{ posted_data.plan.count }}">
                    </div>
                </div>
            </div>

            <div id="proxy_calculator_result" class="proxy_price text-center">
                <div><small>Your Price</small></div>
                <div><span id="proxy_calculator_count"></span> <span id="proxy_calculator_label"></span> for $ <span id="proxy_calculator_amount"></span> / month</div>
            </div>

    </fieldset>

    <h1>Locations</h1>
    <fieldset>
        <h2 class="text-center"><img data-imagepath="{{ app_url }}/gui/img/flags/32/" class="chosenCountryImage" src=""> <span class="chosenCategory"></span></h2>

        <h2 class="text-center">Choose your preferred locations</h2>

        <div class="hidden" id="total_proxies_assignable" data-count="{{ posted_data.plan.count }}"></div>
        <div class="">
            <div class="vspacer-15"></div>
            <div class="text-center">
                <div class="less label label-danger label-lg"><i class="fa fa-warning"></i> You have to many proxies assigned</div>
                <div class="more label label-info label-lg"><i class="fa fa-info-circle"></i>  You still have <span class="left2assign"></span> proxies to assign</div>
                <div class="good label label-success label-lg"><i class="fa fa-check"></i> All your proxies are assigned</div>
            </div>
            <div class="vspacer-15"></div>
            <div class="scroll_content">
                <div class="hidden proxies2assign" id="proxies2assign" data-count="0"></div>
                {%  for country,regions in locations %}
                    {% for region, categories in regions %}
                        {% for category,value in categories %}

                            <div class="row locations_country" data-country="{{ country }}" data-category="{{ category }}" data-region="{{ region }}">
                                <div class="col-md-3 col-md-offset-3">
                                    <div class="form-group">
                                        <input class="form-control text-center region {{ country }} {{ category }}" data-country="{{ country }}" data-region="{{ region }}" data-category="{{ category }}" type="number" name="locations[{{ country }}][{{ region }}][{{ category }}]" value="{{ posted_data.locations[country][region][category] | default('0') }}">
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group"><p class="font-bold">
                                        <div class="pull-left" style="margin-right: 15px;">
                                            <span class="font-bold">{{ region }}</span>
                                        </div>
                                        <div class="tooltip-container">
                                            {% if region == 'Mixed' %}
                                                <span class="label label-primary" data-toggle="tooltip" data-placement="bottom" data-title="This is your best option for a lot of subnets. Our algorithm will give you the BEST subnet diversity and not be concerned about locations.">
                                                                <i class="fa fa-thumbs-up"></i></span>
                                            {% endif %}

                                            <span class="label label-info btn_location_available" data-country="{{ country }}" data-available="{{ value }}" data-toggle="tooltip" data-placement="bottom" data-title="
                                                            There {% if values[category] > 1 %} are {% else %} is {% endif %}
                                                            {{ value | default('0') }}
                                                            {% if value > 1 %} proxies {% else %} proxy {% endif %}
                                                            in this location. If you choose more from this location, you will need to wait up to 48 hours to receive them.">
                                                            <i class="fa fa-info"></i></span>

                                        </div>
                                        <div class="clearfix"></div>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    {% endfor %}
                {% endfor %}
            </div>
        </div>
    </fieldset>
</form>
