{% extends "layout.html.twig" %}

{% block content %}


    <div class="passwordBox animated fadeInDown" xmlns="http://www.w3.org/1999/html">
        <div class="row">

            <div class="col-md-12">
                <div class="ibox-content">
                    {% include 'notifications.html.twig' %}
                    <h2 class="font-bold">Reset password</h2>

                    <p>
                        Enter your new password and confirm it.
                    </p>

                    <div class="row">

                        <div class="col-lg-12">
                            <form class="m-t" role="form" method="post" id="passwordResetForm">
                                <input type="hidden" name="action" value="resetPassword">
                                <div class="form-group">
                                    <input type="password" name="password" id="password" class="form-control" placeholder="New password" required="">
                                </div>
                                <div class="form-group">
                                    <input type="password" name="password_confirm" id="password_confirm" class="form-control" placeholder="Repeat new password" required="">
                                </div>

                                <button type="submit" class="btn btn-primary block full-width m-b">Store new password</button>

                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 text-center text-muted">
                <h3><a href="/login">Login</a> to your account</h3>
            </div>
        </div>
    </div>

{% endblock %}