{% extends "layout.html.twig" %}

{% block content %}

<div class="passwordBox animated fadeInDown" xmlns="http://www.w3.org/1999/html">
    <div class="row">

        <div class="col-md-12">
            <div class="ibox-content">
                {% include 'notifications.html.twig' %}

                <h2 class="font-bold">Forgot password</h2>

                <p>
                    Enter your email address so we can send you a reset request link
                </p>

                <div class="row">

                    <div class="col-lg-12">
                        <form class="m-t form_validation" role="form" method="post" id="passwordRequestForm">

                            <input type="hidden" name="action" value="requestPassword">
                            <div class="form-group">
                                <input type="email" name="email" id="email" class="form-control" placeholder="Email address" value="{{ posted_data.email }}" required="">
                            </div>

                            <button type="submit" class="btn btn-primary block full-width m-b">Reset password</button>


                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12 text-center text-muted">
            <h3><a href="/login">Login</a> to your account</h3>
        </div>
    </div>
</div>

{% endblock %}