{% extends "layout.html.twig" %}

{% block content %}

    <div id="validation_step" data-step="{{ wizard_step | default(0) }}"></div>
    <div class="row">
        <div class="text-center">
            <img src="{{ logo_url }}" width="120" />
        </div>
        <div class="vspacer-15"></div>
        <div class="col-md-6 col-md-offset-3">

    <div class="ibox-content">

        {% include 'notifications.html.twig' %}

        <h1>
            Signup Form
        </h1>
        <form id="register" method="post" class="wizard-big">
            <input type="hidden" name="action" value="add_user">
            <input type="hidden" id="plan_country" name="plan[country]" value="{{ posted_data.plan.country }}">
            <input type="hidden" id="plan_category" name="plan[category]" value="{{ posted_data.plan.category }}">

            <h1>Plan</h1>
            <fieldset>

                <div class="text-danger font-bold text-center sub-step-error"></div>
                <div id="sub-step-1" class="sub-step">

                    {% if wizard_step > 0 %}
                    <div class="text-right">
                        <button type="button" class="btn btn-default goToStep" data-step="2"><i class="fa fa-arrow-circle-o-right"></i> Change category</button>
                    </div>
                    {%  endif %}
                    <h2 class="text-center">Choose a country</h2>

                    <div class="row">
                        <div class="col-lg-12" id="register-country-button-container">

                        </div>
                        <div class="col-md-4 col-md-offset-4 text-center">

                            <div class="btn-group">
                                <button data-toggle="dropdown" aria-labelledby="ddCountryList" class="btn btn-default dropdown-toggle">
                                    Select a country
                                    <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu cusScrollbar" id="ddCountryList">
                                    {%  for country in countries %}
                                        {% if country not in additional_locations_opts | keys %}
                                            {% set value = country %}
                                            {% set title = getCountryLabel(country) %}
                                        {% else %}
                                            {% set value = additional_locations_opts[country].key %}
                                            {% set title = additional_locations_opts[country].title %}
                                        {% endif %}
                                        <li data-country="{{ value }}" class="btn btn-default register-country-button"><a role="button"><img src="{{ app_url }}/gui/img/flags/32/{{ country }}.png"> {{ title }}</a> </li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
                    </div>

                </div>
                <div id="sub-step-2" class="sub-step">

                    <div class="text-danger font-bold text-center sub-step-error"></div>

                    <div class="row">
                        <div class="col-md-6">
                            <div class="text-left">
                                <button type="button" class="btn btn-default goToStep"  data-step="1"><i class="fa fa-arrow-circle-o-left"></i> Change country</button>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="text-right">
                                <button type="button" class="btn btn-default goToStep" data-step="3"><i class="fa fa-arrow-circle-o-right"></i> Change proxy count</button>
                            </div>
                        </div>
                    </div>

                    <h2 class="text-center"><img data-imagepath="{{ app_url }}/gui/img/flags/32/" class="chosenCountryImage" src=""> Choose a proxy category</h2>

                    <div class="vspacer-15"></div>
                    <div class="text-center">
                        <span class="general_less label label-danger"><i class="fa fa-warning-circle"></i> You have to many proxies assigned</span>
                        <span class="general_more label label-info"><i class="fa fa-info-circle"></i> You still have proxies to assign</span>
                        <span class="general_good label label-success"><i class="fa fa-check-circle"></i> All your proxies are assigned</span>
                    </div>
                    <div class="vspacer-15"></div>

                    <div class="tooltip-container text-center">
                        <div class="button-category button-category-semi-3">
                            <div>
                                <button type="button" class="btn btn-default register-category-button" data-category="semi-3">Semi-Dedicated</button>

                                <button type="button" class="btn btn-default toggle-info-semi-dedicated">
                                    <i class="fa fa-question-circle"></i></button>
                            </div>
                            <div class="info-semi-dedicated">
                                <small>
                                    Semi-dedicated proxies are shared between 3 users.
                                    This means the other 2 users could potentially ban your IP on the same sites you are using them on, however the prices are significantly less.
                                    Do not use this option for social media accounts.
                                </small>
                            </div>
                            <div class="vspacer-15"></div>
                        </div>
                        <div class="button-category button-category-dedicated">
                            <div>
                                <button type="button" class="btn btn-default register-category-button" data-category="dedicated">Dedicated</button>

                                <button type="button" class="btn btn-default toggle-info-dedicated">
                                    <i class="fa fa-question-circle"></i></button>

                            </div>
                            <div class="info-dedicated">
                                <small>
                                    Dedicated proxies are used by ONLY you. No other user will have access to these IPs, so this option is best suited for needs such as social media accounts.
                                </small>
                            </div>
                            <div class="vspacer-15"></div>
                        </div>

                        <div class="button-category button-category-rotate">
                            <div>

                                <button type="button" class="btn btn-default register-category-button" data-category="rotate">Rotating</button>

                                <button type="button" class="btn btn-default toggle-info-rotating">
                                    <i class="fa fa-question-circle"></i></button>
                            </div>

                            <div class="info-rotating">
                                <small>
                                    Rotating proxies give you a single IP and multiple ports. Upon connecting to one of the ports, your traffic will be automatically routed to a proxy IP. Every 10-120 minutes (you choose), that port you connect to will route to a different IP. We currently have over 6000 IPs in our rotating pool.
                                </small>
                            </div>
                        </div>
                    </div>

                </div>
                <div id="sub-step-3" class="sub-step">

                    <div class="text-danger font-bold text-center sub-step-error"></div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="text-left">
                                <button type="button" class="btn btn-default goToStep"  data-step="2"><i class="fa fa-arrow-circle-o-left"></i> Change category</button>
                            </div>
                        </div>
                    </div>
                    <h2 class="text-center"><img data-imagepath="{{ app_url }}/gui/img/flags/32/" class="chosenCountryImage" src=""> <span class="chosenCategory"></span></h2>

                    <h2 class="text-center">Type the number of proxies you want</h2>
                    <div class="row">
                        <div class="col-md-4 col-md-offset-4">
                            <div class="form-group">
                                <input autocomplete="off" type="text" class="form-control touchspin text-center" name="plan[count]" id="proxy_calculator" value="{{ posted_data.plan.count }}">
                            </div>
                        </div>
                    </div>

                    <div id="proxy_calculator_result" class="proxy_price text-center">
                        <div><small>Your Price</small></div>
                        <div><span id="proxy_calculator_count"></span> <span id="proxy_calculator_label"></span> for $ <span id="proxy_calculator_amount"></span> / month</div>
                    </div>


                </div>

            </fieldset>

            <h1>Locations</h1>
            <fieldset>
            <h2 class="text-center"><img data-imagepath="{{ app_url }}/gui/img/flags/32/" class="chosenCountryImage" src=""> <span class="chosenCategory"></span></h2>
                <div class="text-center">You have <span id="left2assign" class="font-bold">0</span> remaining proxies to assign.</div>
                <div class="text-center">Please assign that many below [Mixed is recommended].</div>
                <div class="vspacer-15"></div>
                <div class="text-danger font-bold text-center sub-step-error"></div>

                <div class="hidden" id="total_proxies_assignable" data-count="{{ posted_data.plan.count }}"></div>
            <div class="">

                <div class="text-center">
                    <span class="general_less label label-danger"><i class="fa fa-warning-circle"></i> You have to many proxies assigned</span>
                    <span class="general_more label label-info"><i class="fa fa-info-circle"></i> You still have proxies to assign</span>
                    <span class="general_good label label-success"><i class="fa fa-check-circle"></i> All your proxies are assigned</span>
                </div>
                <div class="vspacer-15"></div>
                <div class="scroll_content">
                    <div class="hidden proxies2assign" id="proxies2assign" data-count="0"></div>
                    {%  for country,locations in locations %}
                        {% for location, categories in locations %}
                            {% for category,value in categories %}

                                <div class="row locations_country display-none" data-country="{{ country }}" data-category="{{ category }}" data-location="{{ location }}">
                                    <div class="col-md-3 col-md-offset-3">
                                        <div class="form-group">
                                            <input class="form-control text-center ui_locations " {% if category == 'rotate' %} disabled="disabled" {% endif %} data-country="{{ country }}" data-category="{{ category }}" data-location="{{ location }}" type="number" name="locations[{{ country }}][{{ location }}][{{ category }}]" value="{{ posted_data.locations[country][location][category] | default('0') }}">
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-group"><p class="font-bold">
                                            <div class="pull-left" style="margin-right: 15px;">
                                                <span class="font-bold">{{ location }}</span>
                                            </div>
                                            <div class="tooltip-container">
                                                {% if location == 'Mixed' %}
                                                    <span class="label label-primary" data-toggle="tooltip" data-placement="bottom" data-title="This is your best option for a lot of subnets. Our algorithm will give you the BEST subnet diversity and not be concerned about locations.">
                                                                <i class="fa fa-thumbs-up"></i></span>
                                                {% endif %}

                                                <span class="label label-info btn_location_available" data-country="{{ country }}" data-available="{{ value }}" data-toggle="tooltip" data-placement="bottom" data-title="
                                                            There {% if values[category] > 1 %} are {% else %} is {% endif %}
                                                            {{ value | default('0') }}
                                                            {% if value > 1 %} proxies {% else %} proxy {% endif %}
                                                            in this location. If you choose more from this location, you will need to wait up to 48 hours to receive them.">
                                                            <i class="fa fa-info"></i></span>

                                            </div>
                                            <div class="clearfix"></div>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        {% endfor %}
                    {% endfor %}
                </div>
            </div>
            </fieldset>
            <h1>Account</h1>
            <fieldset>
                <h2>Account Information</h2>
                <div class="text-danger font-bold text-center sub-step-error"></div>
                <div class="row">
                    <div class="col-lg-6">
                        <div class="form-group">
                            <label>First name *</label>
                            <input type="text" class="form-control" name="first_name" placeholder="First name" autocomplete="off" id="first_name" value="{{ posted_data.first_name }}" required>
                            {% if errors.first_name %} <p class="text-danger">{{ errors.first_name }}</p> {% endif %}
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="form-group">
                            <label>Last name *</label>
                            <input type="text" class="form-control" name="last_name" placeholder="Last name" autocomplete="off" id="last_name" value="{{ posted_data.last_name }}" required>
                            {% if errors.last_name %} <p class="text-danger">{{ errors.last_name }}</p> {% endif %}
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-6">
                        <div class="form-group">
                            <label>Email *</label>
                            <input type="email" class="form-control" name="email" placeholder="Email" autocomplete="off" id="email" value="{{ posted_data.email }}" required>
                            <span id="email_exists" data-switch="false" class="text-danger font-bold email_exists"><i class="fa fa-warning"></i> Account already exists with email</span>
                            {% if validation.email %} <span data-switch="false" class="text-danger font-bold email_exists"><i class="fa fa-warning"></i> Account already exists with email</span> {% endif %}
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="form-group">
                            <label>Username *</label>
                            <input type="text" class="form-control" name="username" placeholder="Username" autocomplete="off" id="username" value="{{ posted_data.username }}" required>

                            <span id="username_available" class="text-success font-bold username_available"><i class="fa fa-smile-o"></i> Username available</span>
                            {% if validation.username %}
                                <span data-switch="false" class="text-danger font-bold username_exists"><i class="fa fa-frown-o"></i> Username exists</span>
                                {% else %}
                                <span id="username_exists" data-switch="false" class="text-danger font-bold username_exists"><i class="fa fa-frown-o"></i> Username exists</span>
                            {% endif %}
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-6">
                        <div class="form-group">
                            <label>Password *</label>
                            <input type="password" name="password" placeholder="Password" id="password" class="form-control" autocomplete="off" required>
                            {% if errors.Password %} <p class="text-danger">{{ errors.Password }}</p> {% endif %}
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="form-group">
                            <label>Confirm Password *</label>
                            <input type="password" name="password_confirm" placeholder="Confirm password" id="password_confirm" class="form-control" autocomplete="off" required>
                            {% if errors.PasswordConfirm %} <p class="text-danger">{{ errors.PasswordConfirm }}</p> {% endif %}
                        </div>
                    </div>
                </div>
            </fieldset>
            <h1>Checkout</h1>
            <fieldset>

                <div class="text-danger font-bold text-center sub-step-error"></div>
                <div id="terms_and_conditions">
                    <h2>Terms and Conditions</h2>
                        <p>Please read the terms of service below before purchasing</p>
                    <div class="scroll_content text-muted">
                        {{ terms | raw }}
                    </div>
                    <div class="vspacer-15"></div>
                    <div>

                        <div class="i-checks"><label> <input id="acceptTerms" name="acceptTerms" type="checkbox"
                                                     class="required i-checks"> I agree with
                                the Terms and Conditions.</label></div>

                    </div>
                </div>
                <div id="checkout_button">
                    <button class="btn btn-success btn-large-dim-checkout dim btn-large-dim btn-outline" type="button" id="doCheckout"><i class="fa fa-cc-paypal"></i> Checkout</button>
                </div>
                <div id="final_loader">

                    <div class="sk-spinner sk-spinner-three-bounce">
                        <div class="sk-bounce1"></div>
                        <div class="sk-bounce2"></div>
                        <div class="sk-bounce3"></div>
                    </div>
                    <div class="font-bold text-center">You will be redirected in a few seconds</div>

                </div>
            </fieldset>
        </form>
        <div class="clearfix"></div>
    </div>
            <div class="vspacer-15"></div>
            <h3 class="text-center">Already have an account? <a href="/login">Login here</a></h3>
        </div>
    </div>
    <div id="plan_prices" class="hidden">
        {{ pricing_json }}
    </div>
    <div id="plan_tiers" class="hidden">
        {{ tiers_json }}
    </div>
    {{ {
        'locations': locations,
        'locations_opts': additional_locations_opts,
        'allowed_country_categories': allowed_country_categories
    } | globalVars }}
{% endblock %}
