{% extends 'dashboard/layout.html.twig' %}

{% block content %}
<div class="row">
    <div class="col-lg-2">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <span class="label label-info pull-right">Total</span>
                <h5>Users</h5>
            </div>
            <div class="ibox-content">
                <h1 class="no-margins">{{ total_users }}</h1>

                <small>New users</small>
            </div>
        </div>
    </div>
    <div class="col-lg-2">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <span class="label label-danger pull-right">Open</span>
                <h5>Blazing Proxies Balance</h5>
            </div>
            <div class="ibox-content">
                <div class="pull-left">
                    <h1 class="no-margins">{{ total_plans }}</h1>

                    <small>Plans</small>
                </div>
                <div class="pull-right text-right">
                    <h1 class="no-margins">{{ bp_balance }} $</h1>

                    <small>Total balance</small>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>

    <div class="col-lg-2">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>Plans</h5>
                <div class="ibox-tools">
                    <span class="label label-info pull-right">Total</span>
                </div>
            </div>
            <div class="ibox-content">
                <h1 class="no-margins">{{ total_plans }}</h1>

                <small>Plan Subscriptions</small>
            </div>

        </div>
    </div>
    <div class="col-lg-2">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>Income</h5>
                <div class="ibox-tools">
                    <span class="label label-success pull-right">Today</span>
                </div>
            </div>
            <div class="ibox-content">
                <div class="pull-left">
                    <h1 class="no-margins">{{ total_plans_d }}</h1>

                    <small>Plans</small>
                </div>
                <div class="pull-right text-right">
                    <h1 class="no-margins">{{ total_plans_sum_d }} $</h1>

                    <small>Subscriptions Fees</small>
                </div>
                <div class="clearfix"></div>
            </div>

        </div>
    </div>
    <div class="col-lg-2">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>Income</h5>
                <div class="ibox-tools">
                    <span class="label label-warning pull-right">Month</span>
                </div>
            </div>
            <div class="ibox-content">
                <div class="pull-left">
                    <h1 class="no-margins">{{ total_plans_m }}</h1>

                    <small>Plans</small>
                </div>
                <div class="pull-right text-right">
                    <h1 class="no-margins">{{ total_plans_sum_m }} $</h1>

                    <small>Subscriptions Fees</small>
                </div>
                <div class="clearfix"></div>
            </div>

        </div>
    </div>
    <div class="col-lg-2">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>Income</h5>
                <div class="ibox-tools">
                    <span class="label label-primary pull-right">Year</span>
                </div>
            </div>
            <div class="ibox-content">
                <div class="pull-left">
                    <h1 class="no-margins">{{ total_plans_y }}</h1>

                    <small>Plans</small>
                </div>
                <div class="pull-right text-right">
                    <h1 class="no-margins">{{ total_plans_sum_y }} $</h1>

                    <small>Subscriptions Fees</small>
                </div>
                <div class="clearfix"></div>
            </div>

        </div>
    </div>
</div>
    <div class="row">

        <div class="col-lg-6">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Latest Users</h5>
                    <div class="ibox-tools">
                    </div>
                </div>
                <div class="ibox-content">


                    <div class="table-responsive">
                        <table class="table table-striped">

                            <thead>
                            <tr>
                                <th>Username</th>
                                <th>First Name</th>
                                <th>Last Name</th>
                                <th>Registered</th>
                                <th>Action</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for user in latest_users %}
                                {% if not user.created_on %}
                                    <tr>
                                        <td>{{ user.username }}</td>
                                        <td colspan="4">No reseller data found for user</td>
                                    </tr>
                                {% else %}
                                    <tr>
                                        <td>{{ user.username }}</td>
                                        <td>{{ user.first_name }}</td>
                                        <td>{{ user.last_name }}</td>
                                        <td>{{ formatDateTime(user.created_on) }}</td>
                                        <td><a class="btn btn-default btn-xs" href="/admin/users/edit/{{ user.bp_id }}"><i class="fa fa-edit"></i> Edit</a></td>
                                    </tr>
                                {% endif %}
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    <a href="/admin/users" class="btn btn-primary"><i class="fa fa-users"></i> Manage Users</a>
                </div>
            </div>
        </div>

        <div class="col-lg-6">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Latest Plans</h5>
                    <div class="ibox-tools">
                    </div>
                </div>
                <div class="ibox-content">

                    <div class="table-responsive">
                        <table class="table table-striped">

                            <thead>
                            <tr>
                                <th>Country</th>
                                <th>Category</th>
                                <th>Days</th>
                                <th>Expiry</th>
                                <th class="text-right">Price</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for plan in latest_plans %}
                                <tr>
                                    <td><img src="{{ app_url }}/gui/img/flags/16/{{ plan.plan_country }}.png"> {{ getCountryLabel(plan.plan_country) }}</td>
                                    <td>{{ getProxyLabel(plan.plan_category) }}</td>
                                    <td>{{ plan.plan_days }}</td>
                                    <td>{{ formatDateTime(plan.plan_end) }}</td>
                                    <td class="text-right">{{ plan.plan_price }} $</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    <a href="/admin/plans" class="btn btn-primary"><i class="fa fa-list"></i> Manage Plans</a>
                </div>
            </div>
        </div>

    </div>
{% endblock %}