{% extends 'dashboard/layout.html.twig' %}

{% block content %}

    {% include 'notifications.html.twig' %}

    <div class="row">
        <div class="col-md-6">

            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Paypal settings</h5>
                    <div class="ibox-tools">
                    </div>
                </div>
                <div class="ibox-content">

                    <form method="post" class="form-horizontal">

                        <input type="hidden" name="action" value="save_paypal_settings">

                        <h4>Mode</h4>
                        <div class="form-group">
                            <div class="col-sm-10">
                                <div class="i-checks"><label> <input type="radio" value="live" name="paypal[mode]" {% if paypal.mode == 'live' %}checked=""{% endif %}>
                                        <i></i> Live </label></div>
                                <div class="i-checks"><label> <input type="radio" {% if paypal.mode == 'sandbox' %}checked=""{% endif %} value="sandbox"
                                                                     name="paypal[mode]"> <i></i> Sandbox </label></div>
                            </div>
                        </div>
                        <h4>Sandbox credentials</h4>
                        <div class="form-group"><label class="col-sm-2 control-label">Client Id</label>
                            <div class="col-sm-10"><input type="text" class="form-control"
                                                          name="paypal[credentials][sandbox][clientId]"
                                                          value="{{ paypal.credentials.sandbox.clientId }}"></div>
                        </div>
                        <div class="hr-line-dashed"></div>
                        <div class="form-group"><label class="col-sm-2 control-label">Client Secret</label>
                            <div class="col-sm-10"><input type="text" class="form-control"
                                                          name="paypal[credentials][sandbox][secret]"
                                                          value="{{ paypal.credentials.sandbox.secret }}"></div>
                        </div>

                        <h4>Live credentials</h4>
                        <div class="form-group"><label class="col-sm-2 control-label">Client Id</label>
                            <div class="col-sm-10"><input type="text" class="form-control"
                                                          name="paypal[credentials][live][clientId]"
                                                          value="{{ paypal.credentials.live.clientId }}"></div>
                        </div>
                        <div class="hr-line-dashed"></div>
                        <div class="form-group"><label class="col-sm-2 control-label">Client Secret</label>
                            <div class="col-sm-10"><input type="text" class="form-control"
                                                          name="paypal[credentials][live][secret]"
                                                          value="{{ paypal.credentials.live.secret }}"></div>
                        </div>

                        <button type="submit" class="btn btn-primary"><i class="fa fa-floppy-o"></i> Save data</button>
                    </form>
                </div>
            </div>

            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Personalize app</h5>
                    <div class="ibox-tools">
                    </div>
                </div>
                <div class="ibox-content">

                    <form method="post" class="form-horizontal" enctype="multipart/form-data">
                        <input type="hidden" name="action" value="save_data">
                        <div class="form-group"><label class="col-sm-2 control-label">App name</label>
                            <div class="col-sm-10"><input type="text" class="form-control" name="app_name"
                                                          value="{{ app_name }}"></div>
                        </div>
                        <div class="hr-line-dashed"></div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Current logo</label>
                            <div class="col-sm-10"><img class="img-thumbnail max-logo" src="{{ logo_url }}"/></div>
                        </div>
                        <div class="form-group"><label class="col-sm-2 control-label">New app logo</label>
                            <div class="col-sm-10"><input type="file" class="form-control" name="app_logo">
                                <span class="help-block m-b-none">Allowed formats: JPG,PNG</span>
                            </div>
                        </div>
                        <div class="hr-line-dashed"></div>
                        <div class="form-group"><label class="col-sm-2 control-label">Terms of use</label>

                            <div class="col-sm-10"><textarea class="form-control h-200"
                                                             name="app_terms">{{ app_terms }}</textarea></div>
                        </div>
                        <button type="submit" class="btn btn-primary"><i class="fa fa-floppy-o"></i> Save data</button>
                    </form>
                </div>

            </div>

        </div>
        <div class="col-md-6">

            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Mail settings</h5>
                    <div class="ibox-tools">
                    </div>
                </div>
                <div class="ibox-content">

                    <form method="post" class="form-horizontal">
                        <input type="hidden" name="action" value="save_mail_settings">
                        <div class="form-group"><label class="col-sm-2 control-label">Mail server</label>
                            <div class="col-sm-10"><input type="text" class="form-control" name="mail[smtp_server]"
                                                          value="{{ mail.smtp_server }}"></div>
                        </div>
                        <div class="hr-line-dashed"></div>
                        <div class="form-group"><label class="col-sm-2 control-label">Mail username</label>
                            <div class="col-sm-10"><input type="text" class="form-control" name="mail[smtp_user]"
                                                          value="{{ mail.smtp_user }}"></div>
                        </div>
                        <div class="hr-line-dashed"></div>
                        <div class="form-group"><label class="col-sm-2 control-label">Mail password</label>
                            <div class="col-sm-10"><input type="password" class="form-control" name="mail[smtp_pass]"
                                                          value="{{ mail.smtp_pass }}"></div>
                        </div>
                        <div class="hr-line-dashed"></div>
                        <div class="form-group"><label class="col-sm-2 control-label">Mail port</label>
                            <div class="col-sm-10"><input type="text" class="form-control" name="mail[smtp_port]"
                                                          value="{{ mail.smtp_port }}"></div>
                        </div>
                        <div class="hr-line-dashed"></div>
                        <div class="form-group"><label class="col-sm-2 control-label">Mail security</label>
                            <div class="col-sm-10">
                                <select class="form-control" name="mail[smtp_security]">
                                    <option value="">Choose</option>
                                    <option {% if mail.smtp_security == 'ssl' %}selected="selected"{% endif %}
                                            value="ssl">SSL
                                    </option>
                                    <option {% if mail.smtp_security == 'tls' %}selected="selected"{% endif %}
                                            value="tls">TLS
                                    </option>
                                    <option {% if mail.smtp_security == 'starttls' %}selected="selected"{% endif %}
                                            value="starttls">STARTTLS
                                    </option>
                                </select>
                            </div>
                        </div>
                        <div class="hr-line-dashed"></div>
                        <div class="form-group"><label class="col-sm-2 control-label">Mail From</label>
                            <div class="col-sm-10"><input type="text" class="form-control" name="mail[from_name]"
                                                          value="{{ mail.from_name }}"></div>
                        </div>
                        <div class="hr-line-dashed"></div>
                        <div class="form-group"><label class="col-sm-2 control-label">Mail Email</label>
                            <div class="col-sm-10"><input type="text" class="form-control" name="mail[from_email]"
                                                          value="{{ mail.from_email }}"></div>
                        </div>
                        <button type="submit" class="btn btn-primary"><i class="fa fa-floppy-o"></i> Save data</button>
                        <a href="#" class="btn btn-success" id="testEmail"><i class="fa fa-envelope-o"></i> Test email setup</a>
                    </form>
                </div>

            </div>

            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Proxy settings</h5>
                </div>
                <div class="ibox-content">

                    <form method="post" class="form-horizontal">
                        <input type="hidden" name="action" value="save_proxy_settings">
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Available proxies
                                <small class="text-muted">(ctrl/command + click)</small></label>
                            <div class="col-sm-10">
                                <select class="form-control" name="proxies_types[]" id="proxies_types" multiple size="{{ proxies_types_count }}">
                                    {% for location in proxies_types %}
                                        <option value="{{ location.value }}" style="font-weight: bold"
                                                {% if location.selected %}selected="selected"{% endif %}>
                                            {{ location.title }}
                                        </option>
                                        {% if location.categories %}
                                            {% for category in location.categories %}
                                                <option value="{{ location.value }}.{{ category.value }}"
                                                        data-deep="1"
                                                        {% if category.selected %}selected="selected"{% endif %}>
                                                    &nbsp;&nbsp;&nbsp;&nbsp;{{ category.title }}</option>
                                            {% endfor %}
                                        {% endif %}
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        <button type="submit" class="btn btn-primary"><i class="fa fa-floppy-o"></i> Save data</button>
                    </form>
                </div>

            </div>
        </div>
    </div>

    <script type="text/javascript">
        $(function() {
            $('#testEmail').click(function() {
                $(this).closest('form').find('[name=action]').val('test_mail_settings');
                $(this).closest('form').submit();
            });
            
            $('select#proxies_types').find('option').click(function() {
                var self = $(this),
                        deep = 0,
                        enabled = self.is(':selected');

                if (self.attr('data-deep')) {
                    deep = parseInt(self.attr('data-deep'));
                }
                
                // Nested does the same
                if (!deep) {
                    var el = self;
                    if (parseInt(el.next('option').attr('data-deep')) > 0) {
                        while (parseInt(el.next('option').attr('data-deep')) > 0) {
                            el = el.next('option');
                            el.prop('selected', enabled);
                        }
                    }
                }
                // If no nested sets, disable parent
                else {
                    var parent = self;

                    do {
                        parent = parent.prev('option');
                    }
                    while (parent.length && parseInt(parent.attr('data-deep') || '0') != deep - 1);

                    if (parent.length) {
                        // Disable parent if needed
                        if (!enabled) {
                            //noinspection JSDuplicatedDeclaration
                            var el = parent, someEnabled = 0;
                            while (el.length && parseInt(el.next('option').attr('data-deep')) > 0) {
                                el = el.next('option');
                                if (el.is(':selected')) {
                                    someEnabled++;
                                }
                            }

                            if (!someEnabled) {
                                parent.prop('selected', false);
                            }
                        }
                        // Enable parent if needed
                        else {
                            // At least one enabled
                            parent.prop('selected', true);
                        }
                    }

                }
            });
        });
    </script>

{% endblock %}