{% extends 'dashboard/layout.html.twig' %}

{% block content %}


    {% include 'notifications.html.twig' %}

    <div class="ibox float-e-margins">
        <div class="ibox-title">
            <h5>Edit Package</h5>
            <div class="ibox-tools">
            </div>
        </div>
        <div class="ibox-content">
            <form method="post" class="form-horizontal">
                <input type="hidden" name="action" value="save_data">
                <div class="form-group">
                    <label class="col-sm-2 control-label">Country</label>
                    <div class="col-sm-10"><input type="text" disabled class="form-control" value="{{ getCountryLabel(package.country) }}"></div>
                </div>
                <div class="hr-line-dashed"></div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">Category</label>
                    <div class="col-sm-10"><input type="text" disabled class="form-control" value="{{ getProxyLabel(package.category) }}"></div>
                </div>
                <div class="hr-line-dashed"></div>
                {% for i, tier in tiers %}
                    <div class="hr-line-dashed"></div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Price Tier {{  i + 1 }}</label>
                        <div class="col-sm-3">
                            <input type="text" class="form-control"
                                   name="package[price_tier_{{  i + 1 }}]"
                                   value="{{ number(package['price_tier_' ~ (i + 1)]) }}">
                        </div>
                        <div class="col-sm-7">Reseller price {{ number(original_pricing[ i ]) }} $</div>
                    </div>
                {% endfor %}

                <button class="btn btn-primary" type="submit">Save changes</button>
            </form>
        </div>
    </div>

{% endblock %}