{% extends 'dashboard/layout.html.twig' %}

{% block content %}

    {% include 'notifications.html.twig' %}

    <div class="ibox float-e-margins">
    <div class="ibox-title">
        <h5>Manage Packages</h5>
        <div class="ibox-tools">
        </div>
    </div>
    <div class="ibox-content">

        <div class="table-responsive">
            <table class="table table-striped">

                <thead>
                <tr>
                    <th>Country</th>
                    <th>Category</th>
                    <th>Status</th>
                    {%  for tier in tiers %}
                        <th class="text-right">Tier {{ tier.tier }} <br/> <small>{{ tier.from_val }}-{{ tier.to_val }} Proxies</small></th>
                    {% endfor %}
                </tr>
                </thead>
                <tbody>
                {% for price in chunk_data[paging.current] %}
                    <tr>
                        <td><img src="{{ app_url }}/gui/img/flags/32/{{ price.country }}.png"> {{ getCountryLabel(price.country) }}</td>
                        <td>{{ getProxyLabel(price.category) }}</td>
                        <td class="text-left">{% if countries[price.country] and in_array(price.category,countries[price.country]) %}<span class="label label-success">Active</span>{% else %}<span class="label label-default">Inactive</span>{% endif %}</td>
                        <td class="text-right">{{ number(price.price_tier_1) }} $</td>
                        <td class="text-right">{{ number(price.price_tier_2) }} $</td>
                        <td class="text-right">{{ number(price.price_tier_3) }} $</td>
                        <td class="text-right">{{ number(price.price_tier_4) }} $</td>
                        <td class="text-right">{{ number(price.price_tier_5) }} $</td>
                        <td class="text-right">{{ number(price.price_tier_6) }} $</td>
                        <td><a class="btn btn-default btn-xs" href="/admin/packages/edit/{{ price.id }}"><i class="fa fa-edit"></i> Edit</a></td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        {% if show_paging %}
            {% include 'paging.html.twig' %}
        {% endif %}
    </div>

{% endblock %}