{% extends 'dashboard/layout.html.twig' %}

{% block content %}
    <div class="ibox float-e-margins">
    <div class="ibox-title">
        <h5>Manage Users</h5>
        <div class="ibox-tools">
        </div>
    </div>
    <div class="ibox-content">
        <div class="row">
            <div class="col-sm-3">
                <form method="post">
                    <input type="hidden" name="action" value="search_user">
                    <div class="input-group"><input type="text" name="search_user" placeholder="Search username"
                                                    value="{{ posted_data.search_user }}" class="input-sm form-control"> <span
                                class="input-group-btn">
                                        <button type="submit" class="btn btn-sm btn-primary"> Go!</button> </span></div>
                    {% if user_not_found %} <span class="label label-warning">User not found</span> {% endif %}
                </form>
            </div>
        </div>
        <div class="table-responsive">
            <table class="table table-striped">

                <thead>
                <tr>
                    <th>Username</th>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Email</th>
                    <th>State</th>
                    <th>Roles</th>
                    <th>Registered</th>
                    <th>Action</th>
                </tr>
                </thead>
                <tbody>
                {% for user in chunk_data[paging.current] %}
                    {% if not user.created_on %}

                        <tr>
                            <td>{{ user.username }}</td>
                            <td colspan="6">No reseller data found for user</td>
                        </tr>
                    {% else %}
                        <tr>
                            <td>{{ user.username }}</td>
                            <td>{{ user.first_name }}</td>
                            <td>{{ user.last_name }}</td>
                            <td>{{ user.email }}</td>
                            <td>{{ convertUserStateToLabel(user.state) | raw }}</td>
                            <td>{{ convertUserRolesToLabel(user.roles) | raw }}</td>
                            <td>{{ user.created_on }}</td>
                            <td>
                                <div class="btn-group btn-group-xs">
                                    <a class="btn btn-default btn-xs" href="/admin/users/edit/{{ user.bp_id }}"><i class="fa fa-edit"></i> Edit</a>
                                    {% if user.state == 'active' %}
                                        <a class="btn btn-default btn-xs" href="/admin/users/edit/{{ user.bp_id }}/state/inactive"><i class="fa fa-eye-slash"></i> Deactivate</a>
                                    {% endif %}
                                    {% if user.state == 'inactive' %}
                                        <a class="btn btn-default btn-xs" href="/admin/users/edit/{{ user.bp_id }}/state/active"><i class="fa fa-eye"></i> Activate</a>
                                    {% endif %}
                                    {% if user.state != 'deleted' %}
                                        <a class="btn btn-default btn-xs" href="/admin/users/edit/{{ user.bp_id }}/state/deleted"><i class="fa fa-trash-o"></i> Delete</a>
                                    {% endif %}
                                </div>
                            </td>
                        </tr>
                    {% endif %}
                {% endfor %}
                </tbody>
            </table>
        </div>
        {% if show_paging %}
            {% include 'paging.html.twig' %}
        {% endif %}
    </div>

{% endblock %}