{% extends 'dashboard/layout.html.twig' %}

{% block content %}

    {% include 'notifications.html.twig' %}

    <div class="ibox float-e-margins">
        <div class="ibox-title">
            <h5>Edit User Data</h5>
            <div class="ibox-tools">
                <a class="collapse-link">
                    <i class="fa fa-chevron-up"></i>
                </a>
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                    <i class="fa fa-wrench"></i>
                </a>
                <ul class="dropdown-menu dropdown-user">
                    <li><a href="#">Config option 1</a>
                    </li>
                    <li><a href="#">Config option 2</a>
                    </li>
                </ul>
                <a class="close-link">
                    <i class="fa fa-times"></i>
                </a>
            </div>
        </div>
        <div class="ibox-content">
            <form method="post" class="form-horizontal">
                <input type="hidden" name="action" value="save_user_data">
                <div class="form-group">
                    <label class="col-sm-2 control-label">Username</label>
                    <div class="col-sm-10"><input type="text" class="form-control" disabled="disabled" name="user_data[username]" value="{{ user_data.username }}"></div>
                </div>
                <div class="hr-line-dashed"></div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">First name</label>
                    <div class="col-sm-10"><input type="text" class="form-control" name="user_data[first_name]" value="{{ user_data.first_name }}"></div>
                </div>
                <div class="hr-line-dashed"></div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">Last name</label>
                    <div class="col-sm-10"><input type="text" class="form-control" name="user_data[last_name]" value="{{ user_data.last_name }}"></div>
                </div>
                <div class="hr-line-dashed"></div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">Email</label>
                    <div class="col-sm-10"><input type="text" class="form-control" name="user_data[email]" value="{{ user_data.email }}"></div>
                </div>
                <div class="hr-line-dashed"></div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">Roles</label>
                    <div class="col-sm-10">
                    <div class="i-checks"><label> <input type="checkbox" {% if 'ROLE_ADMIN' in user_data.roles %} checked="" {% endif %} value="ROLE_ADMIN" name="user_data[roles][]"> <i></i> Admin </label></div>
                    <div class="i-checks"><label> <input type="checkbox" {% if 'ROLE_USER' in user_data.roles %} checked="" {% endif %} value="ROLE_USER" name="user_data[roles][]"> <i></i> User </label></div>
                    </div>
                </div>
                <div class="hr-line-dashed"></div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">Reset Password</label>
                    <div class="col-sm-10"><a href="/admin/users/edit/{{ user_data.bp_id }}/passwordReset">Send reset request email</a> </div>
                </div>
                <div class="hr-line-dashed"></div>
                <button class="btn btn-primary" type="submit"><i class="fa fa-floppy-o"></i> Save changes</button>
            </form>
        </div>
    </div>


    <div class="ibox float-e-margins">
        <div class="ibox-title">
            <h5>Manage User Plans</h5>
            <div class="ibox-tools">
                <a class="collapse-link">
                    <i class="fa fa-chevron-up"></i>
                </a>
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                    <i class="fa fa-wrench"></i>
                </a>
                <ul class="dropdown-menu dropdown-user">
                    <li><a href="#">Config option 1</a>
                    </li>
                    <li><a href="#">Config option 2</a>
                    </li>
                </ul>
                <a class="close-link">
                    <i class="fa fa-times"></i>
                </a>
            </div>
        </div>
        <div class="ibox-content">

            <form method="post">
                {#

                <input type="hidden" name="action" value="bulk_action">
                <div class="row">
                    <div class="col-md-2">
                        <select class="form-control col-md-2" name="bulk_action">
                            <option value="">Bulk Action</option>
                            <option value="cancel">Cancel selected</option>
                        </select>
                    </div>
                    <div class="col-md-2">

                        <button type="submit" class="btn btn-primary btn-sm">Go!</button>
                    </div>
                </div>
                #}

            <div class="table-responsive">

                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th>Country</th>
                        <th>Category </th>
                        <th>Proxies</th>
                        <th>Days</th>
                        <th>Status</th>
                        <th>Start Date</th>
                        <th>End Date</th>
                        <th>Action</th>
                    </tr>
                    </thead>
                    <tbody>

                    {% for plan in user.plans %}
                        {% if not plan.plan_count %}
                            <tr>
                                <td><img src="{{ app_url }}/gui/img/flags/16/{{ plan.plan_country }}.png"> {{ getCountryLabel(plan.plan_country) }}</td>
                                <td>{{ getProxyLabel(plan.plan_category) }}</td>
                                <td colspan="6">No plan data found</td>
                            </tr>
                        {% else %}
                            <tr>
                                <td><img src="{{ app_url }}/gui/img/flags/16/{{ plan.plan_country }}.png"> {{ getCountryLabel(plan.plan_country) }}</td>
                                <td>{{ getProxyLabel(plan.plan_category) }}</td>
                                <td>{{ plan.plan_count }}</td>
                                <td>{{ plan.plan_days }}</td>
                                <td><p class="label label-{% if plan.plan_status =='active' %}success{% else %}default{% endif %}">{{ plan.plan_status }}</p></td>
                                <td>{{ formatDateTime(plan.plan_start) }}</td>
                                <td>{{ formatDateTime(plan.plan_end) }}</td>
                                <td>
                                    <div class="btn-group btn-group-xs">
                                    {% if plan.plan_status =='active' or plan.plan_status =='upgraded' or plan.plan_status =='downgraded' %}
                                        <a class="btn btn-default" href="{{ app_url }}/admin/plans/edit/{{ plan.bp_id }}/{{ plan.plan_country }}/{{ plan.plan_category }}"><i class="fa fa-edit"></i> Edit</a>
                                        <a class="btn btn-default" href="{{ app_url }}/admin/plans/cancel/{{ plan.bp_id }}/{{ plan.plan_country }}/{{ plan.plan_category }}"><i class="fa fa-close"></i> Cancel</a>
                                        <a class="btn btn-default" href="{{ app_url }}/admin/plans/purge/{{ plan.bp_id }}/{{ plan.plan_country }}/{{ plan.plan_category }}"><i class="fa fa-trash"></i> Purge</a>
                                    {% endif %}
                                        </div>
                                </td>
                            </tr>
                        {% endif %}
                    {% endfor %}
                    </tbody>
                </table>
            </div>
            </form>

            <a class="btn btn-primary" href="/admin/plans/add/{{ user_data.bp_id }}"><i class="fa fa-plus"></i> Add Plan</a>

        </div>
    </div>
{% endblock %}