{% extends 'dashboard/layout.html.twig' %}

{% block content %}
    <div class="ibox float-e-margins">
    <div class="ibox-title">

        <h5>{{ state }} Paypal Plans</h5>
        <div class="ibox-tools">

            <div class="pull-right">
                Show:
                <a class="btn btn-default btn-xs" href="{{ app_url }}/admin/payment/paypal/plans?state=CREATED">Created</a>
                <a class="btn btn-default btn-xs" href="{{ app_url }}/admin/payment/paypal/plans?state=ACTIVE">Active</a>
                <a class="btn btn-default btn-xs" href="{{ app_url }}/admin/payment/paypal/plans?state=INACTIVE">Inactive</a>
            </div>
        </div>
    </div>
    <div class="ibox-content">
        <div class="row">
            <div class="col-sm-3">
                <form method="post">
                    <input type="hidden" name="action" value="search_plan_id">
                    <div class="input-group"><input type="text" name="plan_id" placeholder="Search plan ID"
                                                    value="{{ posted_data.plan_id }}" class="input-sm form-control"> <span
                                class="input-group-btn">
                                        <button type="submit" class="btn btn-sm btn-primary"> Go!</button> </span></div>
                    {% if user_not_found %} <span class="label label-warning">User not found</span> {% endif %}
                </form>
            </div>
        </div>
        <div class="table-responsive">
            <table class="table table-striped">

                <thead>
                <tr>
                    <th>Paypal Transaction Id</th>
                    <th>Product</th>
                    <th>Description</th>
                    <th>Created on</th>
                    <th>State</th>
                    <th>Action</th>
                </tr>
                </thead>
                <tbody>
                {% if chunk_data %}
                {% for plan in chunk_data[paging.current] %}
                        <tr>
                            <td>{{ plan.id }}</td>
                            <td>{{ plan.name }}</td>
                            <td>{{ plan.description }}</td>
                            <td>{{ formatDateTime(plan.created_on) }}</td>
                            <td><p class="label label-{% if plan.state =='ACTIVE' %}success{% elseif plan.state == 'CREATED' %}warning{% else %}default{% endif %}">{{ plan.state }}</p></td>
                            <td>
                                <div class="btn-group btn-group-xs">

                                {% if plan.state == 'CREATED' or plan.state == 'INACTIVE' %}
                                    <a class="btn btn-default" href="/admin/payment/paypal/update/{{ plan.id }}/active"><i class="fa fa-check"></i> Activate</a>
                                {% endif %}
                                {% if plan.state == 'ACTIVE' %}
                                    <a class="btn btn-default" href="/admin/payment/paypal/update/{{ plan.id }}/inactive"><i class="fa fa-eye-slash"></i> Deactivate</a>
                                {% endif %}
                                    <a class="btn btn-default" href="/admin/payment/paypal/update/{{ plan.id }}/delete"><i class="fa fa-close"></i> Delete</a>
                                </div>
                            </td>
                        </tr>
                {% endfor %}
                {% else %}
                    <tr>
                        <td colspan="6">No plans found</td>
                    </tr>
                {% endif %}
                </tbody>
            </table>
        </div>
        {% if paging %}
            {% include 'paging.html.twig' %}
        {% endif %}
    </div>

{% endblock %}