{% extends 'dashboard/layout.html.twig' %}

{% block content %}
    <div class="ibox float-e-margins">
    <div class="ibox-title">
        <h5>Manage Plans</h5>
        <div class="ibox-tools">
        </div>
    </div>
    <div class="ibox-content">

        <div class="table-responsive">
            <table class="table table-striped">

                <thead>
                <tr>
                    <th>Country</th>
                    <th>Category</th>                                        
                    <th>Proxies</th>
                    <th>Days</th>
                    <th>User</th>
                    <th>State</th>
                    <th>Start</th>
                    <th>Expiry</th>
                    <th>Payment Plan Id</th>
                    <th>Action</th>
                </tr>
                </thead>
                <tbody>
                {% for plan in chunk_data[paging.current] %}
                        <tr>
                            <td><img src="{{ app_url }}/gui/img/flags/16/{{ plan.plan_country }}.png"> {{ getCountryLabel(plan.plan_country) }}</td>
                            <td>{{ getProxyLabel(plan.plan_category) }}</td>
                            <td>{{ plan.plan_count }}</td>
                            <td>{{ plan.plan_days }}</td>
                            <td><a href="{{ app_url }}/admin/users/edit/{{ plan.bp_id }}">{{ plan.full_name }}</a> </td>
                            <td><p class="label label-default">
                                    {% if plan.plan_status =='active' %}<i class="fa fa-check"></i> {% elseif plan.plan_status =='upgraded' %}<i class="fa fa-arrow-up"></i> {% elseif plan.plan_status =='downgraded' %}<i class="fa fa-arrow-down"></i> {% elseif plan.plan_status =='inactive' %}<i class="fa fa-eye-slash"></i>  {% elseif plan.plan_status =='deleted' %} <i class="fa fa-trash-o"></i>  {% endif %}
                                    {{ plan.plan_status }}</p></td>
                            <td>{{ formatDateTime(plan.plan_start) }}</td>
                            <td>{{ formatDateTime(plan.plan_end) }}</td>
                            <td><i class="fa fa-{{ plan.payment_type }}"></i> {{ plan.payment_plan_id }}</td>
                            <td>
                                <div class="btn-group btn-group-xs">
                                {% if plan.plan_status =='active' or plan.plan_status =='upgraded' or plan.plan_status =='downgraded' %}
                                    <a class="btn btn-default" href="{{ app_url }}/admin/plans/edit/{{ plan.bp_id }}/{{ plan.plan_country }}/{{ plan.plan_category }}"><i class="fa fa-edit"></i> Edit</a>
                                    <a class="btn btn-default" href="{{ app_url }}/admin/plans/cancel/{{ plan.bp_id }}/{{ plan.plan_country }}/{{ plan.plan_category }}"><i class="fa fa-close"></i> Cancel</a>
                                {% endif %}
                                    <a class="btn btn-default" href="{{ app_url }}/admin/plans/purge/{{ plan.bp_id }}/{{ plan.plan_country }}/{{ plan.plan_category }}"><i class="fa fa-trash"></i> Purge</a>                                
                                </div>
                            </td>
                        </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        {% if show_paging %}
            {% include 'paging.html.twig' %}
        {% endif %}
    </div>

{% endblock %}