{% extends 'dashboard/layout.html.twig' %}

{% block content %}

    {% include 'notifications.html.twig' %}

    <div class="ibox float-e-margins">
        <div class="ibox-title">
            <h5>Edit plan</h5>
            <div class="ibox-tools">
            </div>
        </div>
        <div class="ibox-content">
            <form method="post" class="form-horizontal">
                <input type="hidden" name="action" value="edit_plan">
                <div class="form-group">
                    <label class="col-sm-2 control-label">Country</label>
                    <div class="col-sm-10">
                        <button class="btn btn-default dropdown-toggle disabled" type="button" id="ddCountryList" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                            Select Country
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" aria-labelledby="ddCountryList">
                            {%  for country in countries %}
                                <li class="form-plan-country-selector" data-value="{{ country }}"><a role="button"><img src="{{ app_url }}/gui/img/flags/32/{{ country }}.png"> {{ getCountryLabel(country) }}</a> </li>
                            {% endfor %}
                        </ul>
                        <input type="hidden" class="form-control" name="plan[country]" value="{{ posted_data.country }}">
                    </div>
                </div>
                <div class="hr-line-dashed"></div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">Category</label>
                    <div class="col-sm-10">
                        <button class="btn btn-default dropdown-toggle disabled" type="button" id="ddCategoryList" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                            Select Category
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" aria-labelledby="ddCategoryList">
                            {%  for category in categories %}
                                <li class="form-plan-category-selector" data-value="{{ category }}"><a role="button">{{ getProxyLabel(category) }}</a> </li>
                            {% endfor %}
                        </ul>
                        <input type="hidden" class="form-control" name="plan[category]" value="{{ posted_data.category }}">
                    </div>
                </div>
                <div class="hr-line-dashed"></div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">Proxies</label>
                    <div class="col-sm-10"><input type="text" class="form-control" name="plan[proxies]" value="{{ posted_data.proxies }}"></div>
                </div>
                <div class="hr-line-dashed"></div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">Days</label>
                    <div class="col-sm-10"><input type="text" placeholder="optional" class="form-control" name="plan[days]" value="{{ posted_data.days }}">
                        <p class="help-block">Defaults to 30</p></div>
                </div>
                <div class="hr-line-dashed"></div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">Start Date</label>
                    <div class="col-sm-10">
                        <div class="input-group date">
                            <span class="input-group-addon"><i class="fa fa-calendar"></i></span><input id="form_date" placeholder="optional" type="text" class="form-control" name="plan[start-date]" value="{{ attribute(posted_data, 'start-date') }}">
                        </div>
                        <p class="help-block">Defaults to NOW</p>
                    </div>
                </div>
                <button class="btn btn-primary" type="submit"><i class="fa fa-floppy-o"></i> Save Plan</button>
            </form>
        </div>
    </div>


{% endblock %}