{% extends "dashboard/layout.html.twig" %}

{% block content %}

    <h1>Dashboard</h1>

    {% include 'notifications.html.twig' %}

    {% if not user.error %}

        <div class="row">
            <div class="col-lg-3">
                <div class="widget style1 navy-bg">
                    <div class="row">
                        <div class="col-xs-6 text-left">
                            <span> Active Plans </span>
                            <h2 class="font-bold">{{ user.total_plans }}</h2>
                        </div>
                        <div class="col-xs-6 text-right">
                            <div><i class="fa fa-check-square-o fa-5x"></i></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="widget style1 lazur-bg">
                    <div class="row">
                        <div class="col-xs-6 text-left">
                            <span> Total Proxies </span>
                            <h2 class="font-bold">{{ user.total_proxies }}</h2>
                        </div>
                        <div class="col-xs-6 text-right">
                            <div><i class="fa fa-level-up fa-5x"></i></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="widget style1 navy-bg">
                    <div class="row">
                        <div class="col-xs-6 text-left">
                            <span> Threads Allowed </span>
                            <h2 class="font-bold">UNLIMITED</h2>
                        </div>
                        <div class="col-xs-6 text-right">
                            <div><i class="fa fa-share-alt fa-5x"></i></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="widget style1 navy-bg">
                    <div class="row">
                        <div class="col-xs-6 text-left">
                            <span> Rotation type </span>
                            <h2 class="font-bold">{{ user.rotation_type }}</h2>
                        </div>
                        <div class="col-xs-6 text-right">
                            <div><i class="fa fa-circle-o-notch fa-5x"></i></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
<div>

                        <div class="dropdown filter-item">
                            <button class="btn btn-default dropdown-toggle" type="button" id="ddCountryList" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                Filter Country
                                <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu" aria-labelledby="ddCountryList">
                                {%  for country in user.plan_countries %}
                                    <li class="plan-country-selector" data-value="{{ country }}"><a role="button"><img src="{{ app_url }}/gui/img/flags/16/{{ country }}.png"> {{ getCountryLabel(country) }}</a> </li>
                                {% endfor %}
                            </ul>
                        </div>
                    <div class="dropdown filter-item">
                        <button class="btn btn-default dropdown-toggle" type="button" id="ddCategoryList" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                            Filter Category
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" aria-labelledby="ddCategoryList">
                            {%  for category in user.plan_categories %}
                                <li class="plan-category-selector" data-value="{{ category }}"><a role="button">{{ getProxyLabel(category) }}</a> </li>
                            {% endfor %}
                        </ul>
                    </div>
</div>

                <span class="hide" id="firstCountry" data-value="{{ user.first_country }}"></span>
                <span class="hide" id="firstCategory" data-value="{{ user.plans[0].category }}"></span>
                <div class="plan-filter">
                </div>

                {% for plan in user.plans %}
                    <div class="ibox float-e-margins plan-box" data-country="{{ plan.country }}" data-category="{{ plan.category }}">
                        <div class="ibox-title">
                            <h4>
                                <img src="{{ app_url }}/gui/img/flags/16/{{ plan.country }}.png"> {{ plan.country|upper }}
                                - {{ getProxyLabel(plan.category) }}

                    {% if plan_location_count[plan.country][plan.category] > 0 %}
                            <div class="pull-right">
                                {#

                                <a href="/user/replacements"
                                   class="btn btn-info btn-xs pull-right margin-left-10"><i class="fa fa-exchange"></i> {{ plan.replacements_left }}</a>
                                   #}
                                <div class="btn-group btn-group-xs">
                                    <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <i class="fa fa-eject"></i> Export <span class="caret"></span>
                                    </button>
                                    <ul class="dropdown-menu">
                                        <li><a href="/user/export/ips/view/{{ plan.country }}/{{ plan.category }}">Export View</a></li>
                                        <li><a href="/user/export/ips/{{ plan.country }}/{{ plan.category }}">Export CSV</a></li>
                                    </ul>
                                </div>
                            </div>
                    {% endif %}
                            </h4>
                        </div>
                        <div class="ibox-content">
                            {% if plan_location_count[plan.country][plan.category] > 0 %}
                                <form method="post" id="form_replace_proxy">
                                    <input type="hidden" name="action" value="replace_proxy">
                                    <input type="hidden" name="replace_ip" value="">
                                    <div class="table-responsive">

                                        <table class="table table-striped table-hover dataTable-dashboard">
                                        <thead>
                                        <tr>
                                            <th>IP</th>
                                            <th>Port</th>
                                            {#<th>Proxy Location</th>#}
                                            {#<th>Port Location</th>#}
                                            <th>Location</th>
                                            {% if plan.category != 'rotate' %}
                                            <th>
                                            Action
                                            </th>
                                            {% endif %}
                                        </tr>
                                        </thead>
                                        {% for details in plan.proxies %}
                                            {%  if details.proxy_location == null and details.port_location == null %}
                                                <tr>
                                                    <td colspan="5">You must choose a location for this proxy. You can do this <a href="/user/location-preferences">here</a></td>
                                                </tr>
                                            {%  elseif details.proxy_location != null and details.port_location == null %}
                                                    <tr>
                                                        <td colspan="5">Something went wrong assigning this proxy. <a href="/user/messages/compose">Contact</a> administrator.</td>
                                                    </tr>
                                                {%  else %}
                                            <tr>
                                                <td>{{ details.ip|default('pending') }}</td>
                                                <td>{{ details.port_connect|default('pending') }}</td>
                                                {#<td>{{ details.proxy_location|default('pending') }}</td>#}
                                                {#<td>{{ details.port_location|default('pending') }}</td>#}
                                                <td data-proxy-location="details.proxy_location" data-port-location="details.port_location">
                                                    {% if plan.category in ['dedicated', 'semi-3', 'rotate'] %}
                                                        {{ details.proxy_location|default('pending') }}
                                                    {% else %}
                                                        {{ details.port_location|default('pending') }}
                                                    {% endif %}
                                                </td>
                                                {% if plan.category != 'rotate' %}
                                                <td>
                                                    <a role="button" class="btn btn-default btn-xs ui-replace-proxy"
                                                                          data-value="{{ details.ip }}"><i
                                                                class="fa fa-exchange"></i> Replace </a></td>
                                                    {% endif %}
                                            </tr>
                                            {% endif %}
                                        {% endfor %}

                                        <tbody>
                                        </tbody>
                                    </table>
                                    </div>
                                </form>
                            {% else %}
                                <div class="text-center">
                                    <i class="fa fa-info-circle"></i> You must assign locations before you can use these proxies. You can do this <a href="/user/location-preferences">here</a> .
                                </div>
                            {% endif %}
                            <div class="vspacer-15"></div>
                            <p>
                            <a href="/user/plans/edit/{{ plan.country }}/{{ plan.category }}"
                               class="btn btn-primary"><i class="fa fa-edit"></i> Edit Plan</a></p>
                        </div>
                    </div>
                {% endfor %}
            </div>

            <div class="col-md-6">
                <h2>Quick Configuration
                </h2>

                <form method="post">
                    <input type="hidden" name="action" value="save_proxy_settings">
                    <div class="ibox float-e-margins">
                        <div class="ibox-title">
                            <h5>Authorization Settings</h5>
                        </div>
                        <div class="ibox-content">
                            <form method="post">
                                <input type="hidden" name="action" value="save_proxy_settings">
                                {% include 'dashboard/user/part-auth.html.twig' %}
                                <p>
                                    <button type="submit" class="btn btn-primary btn_save_proxy_settings"><i class="fa fa-floppy-o"></i> Save proxy settings</button>
                                </p>
                            </form>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    {% endif %}

{% endblock %}