{% extends 'dashboard/layout.html.twig' %}

{% block content %}

    {% include 'notifications.html.twig' %}

    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-6">

            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5><img src="{{ app_url }}/gui/img/flags/16/{{ country }}.png"> {{ getCountryLabel(country) }} {{ getCategoryLabel(category) }} IP List
                    </h5>
                    <button class="btn btn-primary btn-xs ui_copyPasteButton pull-right" data-clipboard-target="#proxyList"><i class="fa fa-copy"></i> Copy to clipboard</button>
                </div>
                <div class="ibox-content">
                    <p id="proxyList">
                    {{ proxy_list | raw }}
                    </p>

                </div>
            </div>

        </div>
    </div>

{% endblock %}