{% extends 'dashboard/layout.html.twig' %}

{% block content %}

    {% include 'notifications.html.twig' %}

    <div class="row">
        <div class="col-sm-12 col-sm-12 col-md-9 col-lg-3">
            <div class="ibox float-e-margins">
                <div class="ibox-content mailbox-content">
                    {% include 'dashboard/user/message-sidebar.html.twig' %}
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-sm-12 col-md-9 col-lg-9 animated fadeInRight">
            <div class="mail-box-header">
                <h2>
                    View Message
                </h2>
                <div class="mail-tools tooltip-demo m-t-md">

                    <div class="pull-right tooltip-demo">
                        <a href="/user/message/reply/{{ message.id }}" class="btn btn-white btn-sm" title="Reply"><i
                                    class="fa fa-reply"></i> Reply</a>
                        <a href="#" class="btn btn-white btn-sm" title="Print email"><i class="fa fa-print"></i> </a>
                        <a href="/user/message/delete/{{ message.id }}" class="btn btn-white btn-sm"
                           title="Move to trash"><i class="fa fa-trash-o"></i> </a>
                    </div>

                    <h3>
                        <span class="font-noraml">Subject: </span>{{ message.subject }}
                    </h3>
                    <h5>
                        <span class="pull-right font-noraml">{{ message.created_on }}</span>
                        <span class="font-noraml">{% if is_ingoing_message %}From{% elseif is_outgoing_message %}To{% endif %}
                            : </span>{{ message.first_name }} {{ message.last_name }} ({{ message.username }})
                    </h5>
                </div>
            </div>
            <div class="mail-box">

                <div class="mail-body">
                    {{ message.message }}
                </div>
                <div class="mail-body text-right tooltip-demo">
                    <a class="btn btn-sm btn-white" href="/user/message/reply/{{ message.id }}"><i
                                class="fa fa-reply"></i> Reply</a>
                </div>
                <div class="clearfix"></div>


            </div>

        </div>
    </div>

{% endblock %}