{% extends 'dashboard/layout.html.twig' %}

{% block content %}

    {% include 'notifications.html.twig' %}

    <div class="row">
    <div class="col-sm-12 col-sm-12 col-md-9 col-lg-3">
        <div class="ibox float-e-margins">
            <div class="ibox-content mailbox-content">
                {% include 'dashboard/user/message-sidebar.html.twig' %}
            </div>
        </div>
    </div>
    <div class="col-sm-12 col-sm-12 col-md-9 col-lg-9 animated fadeInRight">
    <div class="mail-box-header">
    <h2>
        Compose Message
    </h2>
    <div class="mail-tools tooltip-demo m-t-md">

        <form class="form-horizontal" method="post">
            <input type="hidden" name="action" value="send_message">
            <div class="form-group">
                <label class="col-sm-2 control-label">Subject:</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" name="contact_subject" value="">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">Message:</label>
                <div class="col-sm-10">
                                <textarea class="form-control h-200" name="contact_message"></textarea>
                </div>
            </div>
            <button type="submit" class="btn btn-sm btn-primary pull-right"><i class="fa fa-send"></i> Send
            </button>
            <div class="clearfix"></div>
        </form>
    </div>
    </div>
    </div>
    </div>
{% endblock %}