<div class="file-manager">
    <a class="btn btn-block btn-primary compose-mail" href="/user/messages/compose">Compose Message</a>
    <div class="space-25"></div>
    <h5>Folders</h5>
    <ul class="folder-list m-b-md" style="padding: 0">
        <li><a href="/user/messages/inbox"> <i class="fa fa-inbox "></i> Inbox <span class="label label-warning pull-right">{{ unread_messages_count }}</span> </a></li>
        <li><a href="/user/messages/outbox"> <i class="fa fa-envelope-o"></i> Outbox</a></li>
        <li><a href="/user/messages/trash"> <i class="fa fa-trash-o"></i> Trash</a></li>
    </ul>
</div>