{% extends 'dashboard/layout.html.twig' %}

{% block content %}

    {% include 'notifications.html.twig' %}


    <div class="row">
        <div class="col-lg-3">
            <div class="ibox float-e-margins">
                <div class="ibox-content mailbox-content">
                    {% include 'dashboard/user/message-sidebar.html.twig' %}
                </div>
            </div>
        </div>

        <div class="col-lg-9 animated fadeInRight">
            <div class="mail-box-header">

                <h2>
                    Trash ({{ deleted_messages_count }})
                </h2>
                <div class="mail-tools tooltip-demo m-t-md">
                    <a href="/user/messages/trash" type="button" class="btn btn-white btn-sm" data-toggle="tooltip" data-placement="left" title="Refresh trash"><i class="fa fa-refresh"></i> Refresh</a>
                </div>
            </div>
            <div class="mail-box">

                <div class="table-responsive">
                    <table class="table table-hover table-mail">
                        <tbody>
                        {% if chunk_data[paging.current] %}
                            {% for message in chunk_data[paging.current] %}
                                <tr class="{% if message.is_read == 0 %} unread {% else %} read {% endif %}">
                                    <td class="check-mail">
                                        <input type="checkbox" class="i-checks" name="mail_action[{{ message.id }}]">
                                    </td>
                                    <td class="mail-contact"><a href="/user/message/{{ message.id }}">{{ message.first_name }} {{ message.last_name }}</a></td>
                                    <td class="mail-subject"><a href="/user/message/{{ message.id }}">{{ message.subject }}</a></td>
                                    <td class=""></td>
                                    <td class="text-right mail-date">{{ calcTimeElapsed(message.created_on) }}</td>
                                </tr>
                            {% endfor %}
                        {% else %}
                            <tr>
                                <td colspan="5">No messages found</td>
                            </tr>
                        {% endif %}
                        </tbody>
                    </table>
                </div>
                {% if paging.show_paging %}
                    {% include 'paging.html.twig' %}
                {% endif %}
                <div class="vspacer-15"></div>
            </div>
        </div>
    </div>
{% endblock %}