{% extends 'dashboard/layout.html.twig' %}

{% block content %}

    {% include 'notifications.html.twig' %}

    <div class="mail-box-header">
        <h2>
            Reply Message
        </h2>
        <div class="mail-tools tooltip-demo m-t-md">

                    <form class="form-horizontal" method="post">
                        <input type="hidden" name="action" value="reply_message">
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Subject:</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" name="contact_subject" value="RE: {{ message.subject }}">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Message:</label>
                            <div class="col-sm-10">
                                <textarea class="form-control h-200" name="contact_message">

---
{{ message.message }}</textarea>
                            </div>
                        </div>
                        <button type="submit" class="btn btn-sm btn-primary pull-right"><i class="fa fa-send"></i> Send
                        </button>
                        <div class="clearfix"></div>
                    </form>
                </div>
            </div>
{% endblock %}