{% extends 'dashboard/layout.html.twig' %}

{% block content %}

    {% include 'notifications.html.twig' %}


    <div class="middle-box text-center animated fadeInDown">
        <h3 class="font-bold">{{ error_title }}</h3>

        <div class="error-desc">
            {{ error_content }}
        </div>
    </div>


{% endblock %}