<div class="i-checks"><label><input type="radio" value="ip"
                                    name="auth_type"
                {% if settings.auth_type == 'ip' %}
            checked="checked"
                {% endif %}> Via IP </label></div>
<div class="i-checks"><label> <input type="radio" value="pw"
                                     name="auth_type"
                {% if settings.auth_type == 'pw' %}
            checked="checked"
                {% endif %}> Username / Password
    </label></div>
{#<p><button type="button" class="btn btn-default btn-lg show_auth_type" data-value="pw" data-visible="{% if settings.auth_type == 'pw' %}true{% else %}false{% endif %}"><i class="fa fa-edit"></i> Edit password</button></p>#}
<div id="ui-auth-type-container-pw"
     class="ui_auth_type" {# data-visible="{% if settings.auth_type == 'pw' %}true{% else %}false{% endif %}" #}>
    <h3>Authorization Username/Password</h3>
    <div class="form-group">
        <label>Username</label>
        <input class="form-control" type="text" disabled="disabled" value="{{ username }}">
    </div>
    <div class="form-group">
        <label>Password</label>
        <div class="input-group m-b">
            <input class="form-control" id="auth_pass" type="password" name="auth_password"
                   value="{{ settings.auth_password }}">
            <span class="input-group-addon cursor-pointer" id="show_auth_pass"><i class="fa fa-eye"></i></span>
            {% if attribute(errors, 'Auth Password') %} <p
                    class="text-danger">{{ attribute(errors, 'Auth Password') }}</p> {% endif %}
        </div>
    </div>
</div>
{#<p><button type="button" class="btn btn-lg btn-outline show_auth_type" data-value="ip" data-visible="{% if settings.auth_type == 'ip' %}true{% else %}false{% endif %}"><i class="fa fa-edit"></i> Edit authorized IPs</button></p>#}

<div id="ui-auth-type-container-ip"
     class="ui_auth_type" {#data-visible="{% if settings.auth_type == 'ip' %}true{% else %}false{% endif %}"#}>

    <h3>Authorization IPs</h3>

    <div class="table-responsive">
        <table class="table table-hover no-margins">
            <thead>
            <tr>
                {% if settings.auth_ips[1] != '' %}
                    <th class="ui_delete_checkbox">Delete</th>
                {% endif %}
                <th>IP</th>
                <th>Action</th>
            </tr>
            </thead>
            <tbody id="ui_auth_ip_table">
            {% if settings.auth_ips != null %}

                {% for index,ip in settings.auth_ips %}

                    <tr class="ui_ip_item" data-index="{{ index }}">
                        {% if settings.auth_ips[0] != null %}
                            <td class="ui_delete_checkbox">
                                <p class="i-checks"><label> <input type="checkbox"
                                                                   name="auth_ips_delete[{{ index }}]"
                                                {% if settings.auth_ips_delete[index] == 'on' %}
                                            checked="checked"
                                                {% endif %}>
                                    </label></p>
                            </td>
                        {% endif %}
                        <td>
                            <div class="form-group">
                                <input type="text" class="form-control" name="auth_ips[{{ index }}]" value="{{ ip }}"/>
                            </div>
                        </td>
                        <td>
                            <button class="btn btn-white ui_add_auth_ip" type="button"><i
                                        class="fa fa-plus"></i>
                            </button>
                        </td>
                    </tr>

                {% endfor %}

            {% else %}

                <tr class="ui_ip_item" data-index="0">
                    <td>
                        <input type="text" class="form-control" name="auth_ips[]"/>
                    </td>
                    <td>
                        <button class="btn btn-white ui_add_auth_ip" type="button"><i
                                    class="fa fa-plus"></i>
                        </button>
                    </td>
                </tr>

            {% endif %}
            </tbody>
        </table>
    </div>
    <p>
        <i class="fa fa-info-circle"></i> New IP's will be active within a
        few
        minutes
    </p>
</div>
