{% extends 'dashboard/layout.html.twig' %}

{% block content %}


    {% if plan.proxies_assigned == plan.count and plan.ports_assigned == 0 %}
        <p class="poll-user-location" data-country="{{ plan.country }}" data-category="{{ plan.category }}"></p>
    {% endif %}

    <div class="middle-box text-center animated fadeIn">
        <h3 class="font-bold"><i class="fa fa-clock-o"></i> Please wait</h3>
        <div>We are automatically assigning your proxies to your account now.
            It will take a few minutes while the scripts do their job.
            You will be automatically redirected to the dashboard when they’re ready.
            Thank you for your business!
        </div>
    </div>


{% endblock %}