{% extends 'dashboard/layout.html.twig' %}

{% block content %}


    <div class="middle-box animated fadeIn">

        {% include 'notifications.html.twig' %}
        <h3 class="font-bold"><i class="fa fa-unlock"></i> Authorization information</h3>
        <p>Before you can use any proxy you must enter authorization information to access them.</p>

        {% if(user.has_rotate_proxies) %}
        <div id="has_rotate_proxy" class="alert alert-warning"><i class="fa fa-warning"></i> You must set auth type IP if you have rotating proxies!</div>
        {% endif %}
        <div class="ibox float-e-margins">
        <div class="ibox-content">
            <form method="post" name="pendingAuth" action="{{ app_url }}/user/pendingAuthType">
                <input type="hidden" name="action" value="save_proxy_settings">
                {% include 'dashboard/user/part-auth.html.twig' %}
                <p>
                    <button type="submit" class="btn btn-primary"><i class="fa fa-floppy-o"></i> Save authorization settings</button>
                </p>
            </form>
        </div>
        </div>
        <p class="text-muted"><i class="fa fa-info-circle"></i> Note that if you ordered dedicated proxies, you must provide at least one authorization IP</p>
    </div>


{% endblock %}