{% extends 'dashboard/layout.html.twig' %}

{% block content %}
    <div class="ibox float-e-margins">
    <div class="ibox-title">
        <h5>Manage Plans</h5>
        <div class="ibox-tools">
        </div>
    </div>
    <div class="ibox-content">

        <div class="table-responsive">
            <table class="table table-striped">

                <thead>
                <tr>
                    <th>Country</th>
                    <th>Category</th>
                    <th>Proxies</th>
                    <th>Interval</th>
                    <th>State</th>
                    <th>Start</th>
                    <th>Expiry</th>
                    <th>Action</th>
                </tr>
                </thead>
                <tbody>
                {% for plan in plans %}
                    {% if not plan.plan_count %}
                        <tr>
                            <td><img src="{{ app_url }}/gui/img/flags/16/{{ plan.plan_country }}.png"> {{ getCountryLabel(plan.plan_country) }}</td>
                            <td>{{ getProxyLabel(plan.plan_category) }}</td>
                            <td colspan="6">No plan data found</td>
                        </tr>
                    {% else %}
                        <tr>
                            <td><img src="{{ app_url }}/gui/img/flags/16/{{ plan.plan_country }}.png"> {{ getCountryLabel(plan.plan_country) }}</td>
                            <td>{{ getProxyLabel(plan.plan_category) }}</td>
                            <td>{{ plan.plan_count }}</td>
                            <td>{{ plan.plan_days }}</td>
                            <td><p class="label label-{% if plan.plan_status =='active' %}success{% else %}default{% endif %}">{{ plan.plan_status }}</p></td>
                            <td>{{ formatDateTime(plan.plan_start) }}</td>
                            <td>{{ formatDateTime(plan.plan_end) }}</td>
                            <td>
                                {% if plan.plan_status !='Cancelled' and plan.plan_status !='deleted' %}
                                <a class="btn btn-primary btn-xs" href="/user/plans/edit/{{ plan.plan_country }}/{{ plan.plan_category }}"><i class="fa fa-edit"></i> Edit</a>
                                <a class="btn btn-danger btn-xs" href="/user/plans/cancel/{{ plan.plan_country }}/{{ plan.plan_category }}"><i class="fa fa-remove"></i> Cancel</a>
                                {% endif %}
                            </td>
                        </tr>
                    {% endif %}
                {% endfor %}
                </tbody>
            </table>
        </div>
        <a href="/user/plans/add" class="btn btn-primary"><i class="fa fa-plus"></i> Add Plan</a>
    </div>

{% endblock %}