{% extends 'dashboard/layout.html.twig' %}

{% block content %}

    {% include 'notifications.html.twig' %}

    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-6">

            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Edit plan <img src="{{ app_url }}/gui/img/flags/16/{{ plan.plan_country }}.png"> {{ getCountryLabel(plan.plan_country) }} - {{ getProxyLabel(plan.plan_category) }}</h5>
                    <div class="ibox-tools">
                    </div>
                </div>
                <div class="ibox-content">
                    <form method="post" class="form-horizontal">

                    <div id="sub-step-1" class="sub-step">
                        <input type="hidden" name="action" value="edit_plan">
                        <input type="hidden" id="plan_country" name="plan[country]" value="{{ plan.plan_country }}">
                        <input type="hidden" id="plan_category" name="plan[category]" value="{{ plan.plan_category }}">
                        <div class="row">
                            <div class="col-md-4 text-center">
                                <h2>
                                    You currently have
                                </h2>
                                <button type="button" class="btn btn-circle btn-lg ui_old_plan_count" data-value="{{ plan.plan_count }}">
                                    {{ plan.plan_count }}
                                </button>
                                <h2>{{ getProxyLabel(plan.plan_category) }} Proxies</h2>
                            </div>
                            <div class="col-md-4">
                                <h2 class="text-center">Choose the new number of proxies</h2>
                                <div class="form-group">
                                    <input autocomplete="off" type="text" class="form-control touchspin text-center" name="plan[count]" id="proxy_calculator" value="{{ plan.plan_count }}">
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div id="proxy_old_price" class="text-center">
                                    <h2>Current Plan Price</h2>
                                    <h1>{{ number(plan.plan_price) }} $</h1>
                                    <h2>per month</h2>
                                </div>
                                <div id="proxy_calculator_result" class="text-center">
                                    <h2>New Plan Price</h2>
                                    <h1><span id="proxy_calculator_amount"></span> $</h1>
                                    <h2>per month</h2>
                                    <small>Current price is {{ number(plan.plan_price) }} $ per month</small>
                                </div>
                            </div>
                        </div>
                        <div class="vspacer-15"></div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="text-left">
                                    <a class="btn btn-danger ui_delete_plan" href="/user/plans/cancel/{{ plan.plan_country }}/{{ plan.plan_category }}" type="submit"><i class="fa fa-close"></i> Cancel Plan</a>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="text-right">
                                    <button type="button" class="btn btn-primary" id="btn_assign_locations"><i class="fa fa-arrow-circle-o-right"></i> Choose locations</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="sub-step-4" class="sub-step">

                        <h2 class="text-center"><img data-imagepath="{{ app_url }}/gui/img/flags/32/" class="chosenCountryImage" src=""> <span class="chosenCategory"></span></h2>
                        <div class="text-center">You have <span id="left2assign" class="font-bold">0</span> remaining proxies to assign.</div>
                        <div class="text-center">Please assign that many below [Mixed is recommended].</div>
                        <div class="vspacer-15"></div>
                        <div class="text-danger font-bold text-center sub-step-error"></div>

                        <div class="hidden" id="total_proxies_assignable" data-count="{{ posted_data.plan.count }}"></div>
                        <div class="">

                            <div class="text-center">
                                <span class="general_less label label-danger"><i class="fa fa-warning-circle"></i> You have to many proxies assigned</span>
                                <span class="general_more label label-info"><i class="fa fa-info-circle"></i> You still have proxies to assign</span>
                                <span class="general_good label label-success"><i class="fa fa-check-circle"></i> All your proxies are assigned</span>
                            </div>
                            <div class="vspacer-15"></div>
                            <div class="scroll_content">
                                <div class="hidden proxies2assign" id="proxies2assign" data-count="0"></div>
                                {%  for country,locations in locations %}
                                    {% for location, categories in locations %}
                                        {% for category,value in categories %}

                                            <div class="row locations_country" data-country="{{ country }}" data-category="{{ category }}" data-location="{{ location }}">
                                                <div class="col-md-3 col-md-offset-3">
                                                    <div class="form-group">
                                                        <input class="form-control text-center ui_locations" {% if category == 'rotate' %} disabled="disabled" {% endif %}
                                                               data-country="{{ country }}"
                                                               data-category="{{ category }}"
                                                               data-location="{{ location }}" type="number"
                                                               name="locations[{{ country }}][{{ location }}][{{ category }}]"
                                                               value="{{ plan.assigned_port_locations[region] | default('0') }}">
                                                    </div>
                                                </div>
                                                <div class="col-md-3">
                                                    <div class="form-group"><p class="font-bold">
                                                        <div class="pull-left" style="margin-right: 15px;">
                                                            <span class="font-bold">{{ location }}</span>
                                                        </div>
                                                        <div class="tooltip-container">
                                                            {% if location == 'Mixed' %}
                                                                <span class="label label-primary" data-toggle="tooltip" data-placement="bottom" data-title="This is your best option for a lot of subnets. Our algorithm will give you the BEST subnet diversity and not be concerned about locations.">
                                                                <i class="fa fa-thumbs-up"></i></span>
                                                            {% endif %}

                                                            <span class="label label-info btn_location_available" data-country="{{ country }}" data-available="{{ value }}" data-toggle="tooltip" data-placement="bottom" data-title="
                                                            There {% if values[category] > 1 %} are {% else %} is {% endif %}
                                                            {{ value | default('0') }}
                                                            {% if value > 1 %} proxies {% else %} proxy {% endif %}
                                                            in this location. If you choose more from this location, you will need to wait up to 48 hours to receive them.">
                                                            <i class="fa fa-info"></i></span>

                                                        </div>
                                                        <div class="clearfix"></div>
                                                    </div>
                                                </div>
                                            </div>
                                        {% endfor %}
                                    {% endfor %}
                                {% endfor %}
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="text-left">
                                        <button type="button" class="btn btn-default goToStep"  data-step="1"><i class="fa fa-arrow-circle-o-left"></i> Previous step</button>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="text-right">
                                        <button class="btn btn-success ui_plan_save_button" type="submit"><i class="fa fa-check"></i> Change Plan</button>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                    </form>

                </div>
        </div>
    </div>
    <div id="plan_prices" class="hidden">
        {{ pricing_json }}
    </div>
    <div id="plan_tiers" class="hidden">
        {{ tiers_json }}
    </div>

    {{ {
        'locations': locations,
        'locations_opts': additional_locations_opts
    } | globalVars }}


{% endblock %}