{% extends 'dashboard/layout.html.twig' %}

{% block content %}

    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-6">
            {% include 'notifications.html.twig' %}
    <div class="ibox float-e-margins">
        <div class="ibox-title">
            <h5>Add plan</h5>
            <div class="ibox-tools">
            </div>
        </div>
        <div class="ibox-content">
            <div class="hidden">
                {% for plan in user.plans %}
                     <div class="existing_plans" data-country="{{ plan.country }}" data-category="{{ plan.category }}"></div>
                {% endfor %}
            </div>
            <div id="plan_exists_notice">
                <div class="row">
                    <div class="col-md-8 col-sm-12 col-xs-12">
                        <div class="alert alert-warning"><i class="fa fa-info"></i> You already have a plan with the chosen country and category</div>
                    </div>
                    <div class="col-md-4 col-sm-12 col-xs-12">
                        <a href="#" class="btn btn-lg btn-primary" id="change_plan_link" data-url="/user/plans/edit"><i class="fa fa-exchange"></i> Change plan</a>
                    </div>
                </div>
            </div>
            <form method="post" id="addPlan">
                <input type="hidden" id="plan_country" name="plan[country]" value="">
                <input type="hidden" id="plan_category" name="plan[category]" value="">
                <input type="hidden" name="action" value="add_plan">
                <div class="plan_wizard">
{#
                    <div class="text-danger font-bold text-center" id="sub-step-error"></div>
                    <div id="sub-step-1" class="sub-step">

                        <h2 class="text-center">Choose a country</h2>

                        <div class="row">
                            <div class="col-lg-12" id="register-country-button-container">

                            </div>
                            <div class="col-md-4 col-md-offset-4 text-center">

                                <div class="btn-group">
                                    <button data-toggle="dropdown" class="btn btn-primary dropdown-toggle">
                                        Select a country
                                        <span class="caret"></span>
                                    </button>
                                    <ul class="dropdown-menu cusScrollbar">
                                        {%  for country,regions in locations %}
                                            <li data-country="{{ country }}" class="btn btn-default register-country-button"><a role="button"><img src="{{ app_url }}/gui/img/flags/32/{{ country }}.png"> {{ getCountryLabel(country) }}</a> </li>
                                        {% endfor %}
                                    </ul>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div id="sub-step-2" class="sub-step">

                        <button type="button" class="btn btn-default goToStep"  data-step="1"><i class="fa fa-arrow-circle-o-left"></i> Go back one step</button>
                        <h2 class="text-center"><img data-imagepath="{{ app_url }}/gui/img/flags/32/" class="chosenCountryImage" src=""> Choose a proxy category</h2>

                        <div class="tooltip-container text-center">
                            <div>
                                <button type="button" class="btn btn-default register-category-button" data-category="semi-3">Semi-Dedicated</button>

                                <button type="button" class="btn btn-default toggle-info-semi-dedicated">
                                    <i class="fa fa-question-circle"></i></button>
                            </div>
                            <div class="info-semi-dedicated">
                                <small>
                                    Semi-dedicated proxies are shared between 3 users.
                                    This means the other 2 users could potentially ban your IP on the same sites you are using them on, however the prices are significantly less.
                                    Do not use this option for social media accounts.
                                </small>
                            </div>
                            <div class="vspacer-15"></div>
                            <div>
                                <button type="button" class="btn btn-default register-category-button" data-category="dedicated">Dedicated</button>

                                <button type="button" class="btn btn-default toggle-info-dedicated">
                                    <i class="fa fa-question-circle"></i></button>

                            </div>
                            <div class="info-dedicated">
                                <small>
                                    Dedicated proxies are used by ONLY you. No other user will have access to these IPs, so this option is best suited for needs such as social media accounts.
                                </small>
                            </div>
                            <div class="vspacer-15"></div>
                            <div>

                                <button type="button" class="btn btn-default register-category-button" data-category="rotate">Rotating</button>

                                <button type="button" class="btn btn-default toggle-info-rotating">
                                    <i class="fa fa-question-circle"></i></button>
                            </div>

                            <div class="info-rotating">
                                <small>
                                    Rotating proxies give you a single IP and multiple ports. Upon connecting to one of the ports, your traffic will be automatically routed to a proxy IP. Every 10-120 minutes (you choose), that port you connect to will route to a different IP. We currently have over 6000 IPs in our rotating pool.
                                </small>
                            </div>
                        </div>

                    </div>
                    <div id="sub-step-3" class="sub-step">

                        <button type="button" class="btn btn-default goToStep" data-step="2"><i class="fa fa-arrow-circle-o-left"></i> Go back one step</button>

                        <h2 class="text-center"><img data-imagepath="{{ app_url }}/gui/img/flags/32/" class="chosenCountryImage" src=""> <span class="chosenCategory"></span></h2>

                        <h2 class="text-center">Type the number of proxies you want</h2>
                        <div class="row">
                            <div class="col-md-4 col-md-offset-4">
                                <div class="form-group">
                                    <input autocomplete="off" type="text" class="form-control touchspin text-center" name="plan[count]" id="proxy_calculator" value="{{ posted_data.plan.count }}">
                                </div>
                            </div>
                        </div>

                        <div id="proxy_calculator_result" class="proxy_price text-center">
                            <div><small>Your Price</small></div>
                            <div><span id="proxy_calculator_count"></span> <span id="proxy_calculator_label"></span> for $ <span id="proxy_calculator_amount"></span> / month</div>
                        </div>

                        <div class="vspacer-15"></div>
                        <div class="text-center">
                            <button type="button" class="btn btn-primary" id="btn_assign_locations"><i class="fa fa-check"></i> Choose your preferred locations</button>
                        </div>

                    </div>
                    <div id="sub-step-4" class="sub-step">

                        <button type="button" class="btn btn-default goToStep" data-step="3"><i class="fa fa-arrow-circle-o-left"></i> Go back one step</button>

                        <h2 class="text-center"><img data-imagepath="{{ app_url }}/gui/img/flags/32/" class="chosenCountryImage" src=""> <span class="chosenCategory"></span></h2>

                        <h2 class="text-center">Choose your preferred locations</h2>

                        <div class="hidden" id="total_proxies_assignable" data-count=""></div>

                        <div class="vspacer-15"></div>
                        <div class="text-center">
                            <span class="general_less label label-danger"><i class="fa fa-warning-circle"></i> You have to many proxies assigned</span>
                            <span class="general_more label label-info"><i class="fa fa-info-circle"></i> You still have proxies to assign</span>
                            <span class="general_good label label-success"><i class="fa fa-check-circle"></i> All your proxies are assigned</span>
                        </div>
                        <div class="vspacer-15"></div>
                        <div class="">
                            <div class="scroll_content">
                                <div class="col-md-9 col-md-offset-3">

                                    {%  for country,regions in locations %}
                                        {% for region, categories in regions %}
                                            {% for category,value in categories %}

                                                {% if(category == 'rotate' and region == 'Mixed') or category != 'rotate' %}
                                                <div class="hidden ui_total_proxies_assignable" data-country="{{ country }}" data-category="{{ category }}" data-count=""></div>
                                                <div class="row locations_country" data-country="{{ country }}" data-category="{{ category }}">
                                                    <div class="col-sm-2">
                                                        <div class="form-group">
                                                            <input type="number"
                                                                   class="form-control region {{ country }} {{ category }}"
                                                                   data-country="{{ country }}"
                                                                   data-category="{{ category }}"
                                                                    {% if category == 'rotate' %}
                                                                        disabled="disabled"
                                                                    {% endif %}
                                                                   name="locations[{{ country }}][{{ region }}][{{ category }}]"
                                                                   value="{{ posted_data.ports[region] | default('0') }}" />
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-3">
                                                        <h3>{{ region }}</h3>
                                                    </div>
                                                    <div class="col-sm-7">
                                                        <div class="tooltip-container">
                                                            {% if region == 'Mixed' %}
                                                                <span class="label label-primary" data-toggle="tooltip" data-placement="bottom" data-title="This is your best option for a lot of subnets. Our algorithm will give you the BEST subnet diversity and not be concerned about locations.">
                                                                <i class="fa fa-thumbs-up"></i></span>
                                                            {% endif %}

                                                            <span class="label label-info btn_location_available" data-country="{{ country }}" data-available="{{ value }}" data-toggle="tooltip" data-placement="bottom" data-title="
                                                            There {% if values[category] > 1 %} are {% else %} is {% endif %}
                                                            {{ value | default('0') }}
                                                            {% if value > 1 %} proxies {% else %} proxy {% endif %}
                                                            in this location. If you choose more from this location, you will need to wait up to 48 hours to receive them.">
                                                            <i class="fa fa-info"></i></span>

                                                        </div>
                                                    </div>
                                                </div>
                                                {% endif %}
                                                #}
{#
                                                <div class="row locations_country" data-country="{{ country }}" data-region="{{ region }}" data-category="{{ category }}">
                                                    <div class="col-md-3 col-md-offset-3">
                                                        <div class="form-group">
                                                            <input class="form-control text-center region {{ country }} {{ category }}" data-country="{{ country }}" data-region="{{ region }}" data-category="{{ category }}" type="number" name="locations[{{ country }}][{{ region }}][{{ category }}]" value="0">
                                                        </div>
                                                    </div>
                                                    <div class="col-md-3">
                                                        <div class="form-group"><p class="font-bold">
                                                            <div class="pull-left" style="margin-right: 15px;">
                                                                <span class="font-bold">{{ region }}</span>
                                                            </div>
                                                            <div class="tooltip-container">
                                                                {% if region == 'Mixed' %}
                                                                    <span class="label label-primary" data-toggle="tooltip" data-placement="bottom" data-title="This is your best option for a lot of subnets. Our algorithm will give you the BEST subnet diversity and not be concerned about locations.">
                                                                    <i class="fa fa-thumbs-up"></i></span>
                                                                {% endif %}

                                                                <span class="label label-info btn_location_available" data-country="{{ country }}" data-available="{{ value }}" data-toggle="tooltip" data-placement="bottom" data-title="
                                                                There {% if values[category] > 1 %} are {% else %} is {% endif %}
                                                                {{ value | default('0') }}
                                                                {% if value > 1 %} proxies {% else %} proxy {% endif %}
                                                                in this location. If you choose more from this location, you will need to wait up to 48 hours to receive them.">
                                                                <i class="fa fa-info"></i></span>

                                                            </div>
                                                            <div class="clearfix"></div>
                                                        </div>
                                                    </div>
                                                </div>
                                                #}{#


                                            {% endfor %}
                                        {% endfor %}
                                    {% endfor %}

                                </div>
                            </div>
                        </div>

                    </div>
#}
                    <div class="text-danger font-bold text-center sub-step-error"></div>
                    <div id="sub-step-1" class="sub-step">

                        {% if wizard_step > 0 %}
                            <div class="text-right">
                                <button type="button" class="btn btn-default goToStep" data-step="2"><i class="fa fa-arrow-circle-o-right"></i> Next step</button>
                            </div>
                        {%  endif %}
                        <h2 class="text-center">Choose a country</h2>

                        <div class="row">
                            <div class="col-lg-12" id="register-country-button-container">

                            </div>
                            <div class="col-md-4 col-md-offset-4 text-center">

                                <div class="btn-group">
                                    <button data-toggle="dropdown" aria-labelledby="ddCountryList" class="btn btn-default dropdown-toggle">
                                        Select a country
                                        <span class="caret"></span>
                                    </button>
                                    <ul class="dropdown-menu cusScrollbar" id="ddCountryList">
                                        {%  for country in countries %}
                                            {% if country not in additional_locations_opts | keys %}
                                                {% set value = country %}
                                                {% set title = getCountryLabel(country) %}
                                            {% else %}
                                                {% set value = additional_locations_opts[country].key %}
                                                {% set title = additional_locations_opts[country].title %}
                                            {% endif %}
                                            <li data-country="{{ value }}" class="btn btn-default register-country-button"><a role="button"><img src="{{ app_url }}/gui/img/flags/32/{{ country }}.png"> {{ title }}</a> </li>
                                        {% endfor %}
                                    </ul>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div id="sub-step-2" class="sub-step">

                        <div class="text-danger font-bold text-center sub-step-error"></div>

                        <h2 class="text-center"><img data-imagepath="{{ app_url }}/gui/img/flags/32/" class="chosenCountryImage" src=""> Choose a proxy category</h2>

                        <div class="vspacer-15"></div>
                        <div class="text-center">
                            <span class="general_less label label-danger"><i class="fa fa-warning-circle"></i> You have to many proxies assigned</span>
                            <span class="general_more label label-info"><i class="fa fa-info-circle"></i> You still have proxies to assign</span>
                            <span class="general_good label label-success"><i class="fa fa-check-circle"></i> All your proxies are assigned</span>
                        </div>
                        <div class="vspacer-15"></div>

                        <div class="tooltip-container text-center">
                            <div class="button-category button-category-semi-3">
                                <div>
                                    <button type="button" class="btn btn-default register-category-button" data-category="semi-3">Semi-Dedicated</button>

                                    <button type="button" class="btn btn-default toggle-info-semi-dedicated">
                                        <i class="fa fa-question-circle"></i></button>
                                </div>
                                <div class="info-semi-dedicated">
                                    <small>
                                        Semi-dedicated proxies are shared between 3 users.
                                        This means the other 2 users could potentially ban your IP on the same sites you are using them on, however the prices are significantly less.
                                        Do not use this option for social media accounts.
                                    </small>
                                </div>
                                <div class="vspacer-15"></div>
                            </div>
                            <div class="button-category button-category-dedicated">
                                <div>
                                    <button type="button" class="btn btn-default register-category-button" data-category="dedicated">Dedicated</button>

                                    <button type="button" class="btn btn-default toggle-info-dedicated">
                                        <i class="fa fa-question-circle"></i></button>

                                </div>
                                <div class="info-dedicated">
                                    <small>
                                        Dedicated proxies are used by ONLY you. No other user will have access to these IPs, so this option is best suited for needs such as social media accounts.
                                    </small>
                                </div>
                                <div class="vspacer-15"></div>
                            </div>

                            <div class="button-category button-category-rotate">
                                <div>

                                    <button type="button" class="btn btn-default register-category-button" data-category="rotate">Rotating</button>

                                    <button type="button" class="btn btn-default toggle-info-rotating">
                                        <i class="fa fa-question-circle"></i></button>
                                </div>

                                <div class="info-rotating">
                                    <small>
                                        Rotating proxies give you a single IP and multiple ports. Upon connecting to one of the ports, your traffic will be automatically routed to a proxy IP. Every 10-120 minutes (you choose), that port you connect to will route to a different IP. We currently have over 6000 IPs in our rotating pool.
                                    </small>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-6">
                                <div class="text-left">
                                    <button type="button" class="btn btn-default goToStep"  data-step="1"><i class="fa fa-arrow-circle-o-left"></i> Previous step</button>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="text-right">
                                    <button type="button" class="btn btn-default goToStep" data-step="3"><i class="fa fa-arrow-circle-o-right"></i> Next step</button>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div id="sub-step-3" class="sub-step">

                        <div class="text-danger font-bold text-center sub-step-error"></div>

                        <h2 class="text-center"><img data-imagepath="{{ app_url }}/gui/img/flags/32/" class="chosenCountryImage" src=""> <span class="chosenCategory"></span></h2>

                        <h2 class="text-center">Type the number of proxies you want</h2>
                        <div class="row">
                            <div class="col-md-4 col-md-offset-4">
                                <div class="form-group">
                                    <input autocomplete="off" type="text" class="form-control touchspin text-center" name="plan[count]" id="proxy_calculator" value="{{ posted_data.plan.count }}">
                                </div>
                            </div>
                        </div>

                        <div id="proxy_calculator_result" class="proxy_price text-center">
                            <div><small>Your Price</small></div>
                            <div><span id="proxy_calculator_count"></span> <span id="proxy_calculator_label"></span> for $ <span id="proxy_calculator_amount"></span> / month</div>
                        </div>

                        <div class="row">
                            <div class="col-md-6">
                                <div class="text-left">
                                    <button type="button" class="btn btn-default goToStep"  data-step="2"><i class="fa fa-arrow-circle-o-left"></i> Previous step</button>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="text-right">
                                    <button type="button" class="btn btn-primary" id="btn_assign_locations"><i class="fa fa-arrow-circle-o-right"></i> Choose locations</button>
                                    <button type="submit" class="btn btn-primary" id="doCheckout"><i class="fa fa-arrow-circle-o-right"></i> Checkout</button>
                                </div>
                            </div>
                        </div>

                    </div>

                    <div id="sub-step-4" class="sub-step">

                        <h2 class="text-center"><img data-imagepath="{{ app_url }}/gui/img/flags/32/" class="chosenCountryImage" src=""> <span class="chosenCategory"></span></h2>
                        <div class="text-center">You have <span id="left2assign" class="font-bold">0</span> remaining proxies to assign.</div>
                        <div class="text-center">Please assign that many below [Mixed is recommended].</div>
                        <div class="vspacer-15"></div>
                        <div class="text-danger font-bold text-center sub-step-error"></div>

                        <div class="hidden" id="total_proxies_assignable" data-count="{{ posted_data.plan.count }}"></div>
                        <div class="">

                            <div class="text-center">
                                <span class="general_less label label-danger"><i class="fa fa-warning-circle"></i> You have to many proxies assigned</span>
                                <span class="general_more label label-info"><i class="fa fa-info-circle"></i> You still have proxies to assign</span>
                                <span class="general_good label label-success"><i class="fa fa-check-circle"></i> All your proxies are assigned</span>
                            </div>
                            <div class="vspacer-15"></div>
                            <div class="scroll_content">
                                <div class="hidden proxies2assign" id="proxies2assign" data-count="0"></div>
                                {%  for country,locations in locations %}
                                    {% for location, categories in locations %}
                                        {% for category,value in categories %}

                                            <div class="row locations_country" data-country="{{ country }}" data-category="{{ category }}" data-location="{{ location }}">
                                                <div class="col-md-3 col-md-offset-3">
                                                    <div class="form-group">
                                                        <input class="form-control text-center ui_locations" {% if category == 'rotate' %} disabled="disabled" {% endif %} data-country="{{ country }}" data-category="{{ category }}" data-location="{{ location }}" type="number" name="locations[{{ country }}][{{ location }}][{{ category }}]" value="{{ posted_data.locations[country][location][category] | default('0') }}">
                                                    </div>
                                                </div>
                                                <div class="col-md-3">
                                                    <div class="form-group"><p class="font-bold">
                                                        <div class="pull-left" style="margin-right: 15px;">
                                                            <span class="font-bold">{{ location }}</span>
                                                        </div>
                                                        <div class="tooltip-container">
                                                            {% if location == 'Mixed' %}
                                                                <span class="label label-primary" data-toggle="tooltip" data-placement="bottom" data-title="This is your best option for a lot of subnets. Our algorithm will give you the BEST subnet diversity and not be concerned about locations.">
                                                                <i class="fa fa-thumbs-up"></i></span>
                                                            {% endif %}

                                                            <span class="label label-info btn_location_available" data-country="{{ country }}" data-available="{{ value }}" data-toggle="tooltip" data-placement="bottom" data-title="
                                                            There {% if values[category] > 1 %} are {% else %} is {% endif %}
                                                            {{ value | default('0') }}
                                                            {% if value > 1 %} proxies {% else %} proxy {% endif %}
                                                            in this location. If you choose more from this location, you will need to wait up to 48 hours to receive them.">
                                                            <i class="fa fa-info"></i></span>

                                                        </div>
                                                        <div class="clearfix"></div>
                                                    </div>
                                                </div>
                                            </div>
                                        {% endfor %}
                                    {% endfor %}
                                {% endfor %}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="text-left">
                                    <button type="button" class="btn btn-default goToStep"  data-step="3"><i class="fa fa-arrow-circle-o-left"></i> Previous step</button>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="text-right">
                                    <button type="submit" class="btn btn-primary" id="doCheckout"><i class="fa fa-arrow-circle-o-right"></i> Checkout</button>
                                </div>
                            </div>
                        </div>

                    </div>

                    <div id="final_loader">

                        <div class="sk-spinner sk-spinner-three-bounce">
                            <div class="sk-bounce1"></div>
                            <div class="sk-bounce2"></div>
                            <div class="sk-bounce3"></div>
                        </div>
                        <div class="font-bold text-center">You will be redirected in a few seconds</div>

                    </div>
                </div>
                </form>
                </div>
            </div>
        </div>
    </div>
    <div id="plan_prices" class="hidden">
        {{ pricing_json }}
    </div>
    <div id="plan_tiers" class="hidden">
        {{ tiers_json }}
    </div>
    {{ {
        'locations': locations,
        'locations_opts': additional_locations_opts,
        'allowed_country_categories': allowed_country_categories
    } | globalVars }}


{% endblock %}