{% extends 'dashboard/layout.html.twig' %}

{% block content %}

    {% include 'notifications.html.twig' %}

    <h1>Location Preferences</h1>

    <div class="row">

        <div class='col-md-6'>

            <span class="hide" id="firstCountry" data-value="{{ user.first_country }}"></span>
            <span class="hide" id="firstCategory" data-value="{{ user.first_category }}"></span>
            <div class="hidden" id="proxies2assign" data-count="0"></div>
            <div class="plan-filter">
                <div class="filter-item">
                    <div class="dropdown">
                        <button class="btn btn-default dropdown-toggle" type="button" id="ddCountryList" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                            <img src="{{ app_url }}/gui/img/flags/16/{{ user.first_country }}.png"> {{ getCountryLabel(user.first_country) }}
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" aria-labelledby="ddCountryList">
                            {%  for country in user.plan_countries %}
                                <li class="plan-country-selector" data-value="{{ country }}"><a role="button"><img src="{{ app_url }}/gui/img/flags/16/{{ country }}.png"> {{ getCountryLabel(country) }}</a> </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
                <div class="filter-item">
                    <div class="dropdown">
                        <button class="btn btn-default dropdown-toggle" type="button" id="ddCategoryList" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                            Filter Category
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" aria-labelledby="ddCategoryList">
                            {%  for category in user.plan_categories %}
                                <li class="plan-category-selector" data-value="{{ category }}"><a role="button">{{ getProxyLabel(category) }}</a> </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>

            {% for plan in user.plans %}

                {% if plan.proxies_assigned == plan.count and plan.ports_assigned == 0 %}
                    <p class="poll-user-location" data-country="{{ plan.country }}" data-category="{{ plan.category }}"></p>
                {% endif %}

            <div class="panel panel-default plan-box" data-country="{{ plan.country }}" data-category="{{ plan.category }}">
                <div class="panel-heading">
                    <h4>  <img src="{{ app_url }}/gui/img/flags/16/{{ plan.country }}.png"> {{ plan.country|upper }}
                        - {{ getProxyLabel(plan.category) }}
                        {% if plan.port_assignments_left > 0 %}
                            <span class="{{ plan.country }} {{ plan.category }} default_assigned_label label label-info pull-right"><i class="fa fa-info-circle"></i> You still have proxies to assign</span>
                        {% endif %}
                        {% if plan.port_assignments_left == 0 %}
                            <span class="{{ plan.country }} {{ plan.category }} default_assigned_label label label-success pull-right"><i class="fa fa-check-circle"></i> All your proxies are assigned</span>
                        {% endif %}
                        <span class="location_params_notice less label label-danger pull-right" data-country="{{ plan.country }}" data-category="{{ plan.category }}"><i class="fa fa-warning-circle"></i> You have to many proxies assigned</span>
                        <span class="location_params_notice more label label-info pull-right" data-country="{{ plan.country }}" data-category="{{ plan.category }}"><i class="fa fa-info-circle"></i> You still have proxies to assign</span>
                        <span class="location_params_notice good label label-success pull-right" data-country="{{ plan.country }}" data-category="{{ plan.category }}"><i class="fa fa-check-circle"></i> All your proxies are assigned</span>
                    </h4>
                </div>
                <div class="panel-body">

                    {% if plan.port_assigned == plan.count and plan.proxies_assigned == plan.count %}
                        <div class="ui_message_locations_pending">
                            <i class="fa fa-clock-o"></i> Your locations are being assigned. This may take a few seconds. Next check in 15 seconds.
                        </div>
                    {% elseif plan.port_assignments_left == plan.count and plan.proxies_assigned == plan.count %}
                        <div class="alert alert-danger">Proxies could not be assigned to ports. Please contact system administrator.</div>
                    {% else %}
                        <form method="post" class="location_form" data-country="{{ plan.country }}" data-category="{{ plan.category }}">
                            <input type="hidden" name="action" value="save_location_update" />
                            <input type="hidden" name="country" value="{{ plan.country }}" />
                            <input type="hidden" name="category" value="{{ plan.category }}" />
                            <div class="hidden ui_total_proxies_assignable" data-country="{{ plan.country }}" data-category="{{ plan.category }}" data-count="{{ plan.count }}"></div>

                            <div class="alert alert-success location-settings-message hide">Successfully Updated</div>

                            <div class="vspacer-15"></div>

                            {% if plan.ports_assigned == 0 and plan.ports_assigned < plan.count and plan.proxies_assigned < plan.count %}
                                <div class="alert alert-warning">
                                    <i class="fa fa-warning"></i> You still need to assign locations to {{ plan.port_assignments_left }} proxies!
                                </div>
                            {% endif %}
                            {% if plan.category == 'rotate' %}

                                <div class="row">
                                    <div class="col-sm-2">
                                        <div class="form-group">
                                            <input type="number"
                                                   class="form-control text-center"
                                                   disabled="disabled"
                                                   value="{{ plan.count }}" />
                                        </div>
                                    </div>
                                    <div class="col-sm-3">
                                        <h3>Mixed</h3>
                                    </div>
                                    <div class="col-sm-7">
                                        <div class="alert alert-info"><i class="fa fa-info-circle"></i> Category can only be assigned to location mixed</div>
                                    </div>
                                </div>
                            {% else %}

                                <div>
                                    <h3>
                                    <span id="{{ plan.category }}_total" class="location_category {{ plan.country }} {{ plan.category }}"
                                          data-category="{{ plan.category }}" data-total="{{ plan.port_assignments_left }}"><strong>{{ plan.port_assignments_left }}</strong></span>
                                        of <strong>{{ plan.count }}</strong> proxies to be assigned
                                    </h3>
                                </div>

                                {% for region,locDetails in locations[plan.country] %}
                                {% if (
                                    (plan.allowed_assign_locations or
                                        (not plan.allowed_assign_locations and region == 'Mixed')) and
                                    (plan.category not in meta_categories | keys or
                                        (meta_categories[plan.category].strictToLocations) and
                                        region in meta_categories[plan.category].strictToLocations)
                                ) %}
                                    <div class="row">
                                        <div class="col-sm-2">
                                            <div class="form-group">
                                                <input type="number"
                                                       class="form-control text-center ui_locations {{ plan.country }} {{ plan.category }}"
                                                       data-country="{{ plan.country }}"
                                                       data-category="{{ plan.category }}"
                                                        {% if not plan.allowed_assign_locations %}
                                                            disabled="disabled"
                                                        {% endif %}
                                                       name="locations[{{ region }}]"
                                                       value="{% if plan.category != 'rotate' %}{{ plan.assigned_port_locations[region] | default('0') }}{% else %}{{ plan.count }}{% endif %}" />
                                            </div>
                                        </div>
                                        <div class="col-sm-3">
                                            <h3>{{ region }}</h3>
                                        </div>
                                        <div class="col-sm-7">
                                            {% if plan.allowed_assign_locations and region == 'Mixed' %}
                                                <div class="alert alert-success">
                                                    <i class="fa fa-thumbs-up"></i> This is your best option for a lot of subnets.
                                                        Our algorithm will give you the BEST subnet diversity and not be concerned about locations.
                                                </div>
                                            {% elseif locDetails[plan.category] < plan.count %}
                                                <div class="alert alert-info" style="font-size: 12px">
                                                    There {% if locDetails[plan.category] > 1 %} are {% else %} is {% endif %}
                                                    {{ locDetails[plan.category] | default('0') }}
                                                    {% if locDetails[plan.category] > 1 %} proxies {% else %} proxy {% endif %}
                                                    in this location. <br /> If you choose more from this location, you will need to wait up to 48 hours to receive them.</div>
                                            {% elseif not plan.allowed_assign_locations %}
                                                <div class="alert alert-info">
                                                    <i class="fa fa-info-circle"></i> You can not assign any locations with this plan
                                                </div>
                                            {% endif %}
                                        </div>
                                    </div>
                                {% endif  %}
                            {% endfor %}

                            {% endif %}

                            <button type="submit" class="btn btn-primary location_save" data-country="{{ plan.country }}" data-category="{{ plan.category }}"><i class="fa fa-floppy-o"></i> Save Locations</button>
                        </form>
                {% endif %}
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}