{% extends 'dashboard/layout.html.twig' %}

{% block content %}
    <h1>Contact</h1>

    {% if errors[0] %}
        <div class="alert alert-danger">{{ errors[0] }}</div>
    {% endif %}
    {% if success %}
        <div class="alert alert-success">{{ success }}</div>
    {% endif %}

    <div class="row">
        <div class="col-md-6">

            <div class="ibox float-e-margins">

                <div class="ibox-title">
                    <h5>Write us a message</h5>
                </div>
                <div class="ibox-content">

                    <form class="form-horizontal" method="post">
                        <input type="hidden" name="action" value="send_message">
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Subject:</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" name="contact_subject" value="">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Message:</label>
                            <div class="col-sm-10">
                                <textarea class="form-control h-200" name="contact_message"></textarea>
                            </div>
                        </div>
                        <button type="submit" class="btn btn-sm btn-primary pull-right"><i class="fa fa-send"></i> Send
                        </button>
                        <div class="clearfix"></div>
                    </form>
                </div>
            </div>
        </div>
{% endblock %}