{% extends 'dashboard/layout.html.twig' %}

{% block content %}
    <h1>Settings</h1>

    {% include 'notifications.html.twig' %}

    {% if not error %}

        <div class="row">
            <div class="col-md-6">

                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>Account Settings</h5>
                    </div>
                    <div class="ibox-content">
                        <h3>Userdata</h3>
                        <p>
                            <label>Username</label>
                            <input class="form-control" type="text" disabled value="{{ username }}">
                        </p>
                        <!--
                        <div id="ui-password-reset-button">
                            <p><a role="button">Change my password</a></p>
                        </div>
                        -->
                        <div id="ui-password-reset-fields {% if errors %} display-block {% endif %}">
                            <h3>Change my password</h3>
                            <form method="post">
                                <input type="hidden" name="action" value="save_password">
                                <div class="form-group">
                                    <label>Current password</label>
                                    <input class="form-control" type="password" name="password_current" value="">
                                    {% if attribute(errors, 'Password Current') %} <p
                                            class="text-danger">{{ attribute(errors, 'Password Current') }}</p> {% endif %}
                                </div>
                                <div class="form-group">
                                    <label>New password</label>
                                    <input class="form-control" type="password" name="password_new" value="">
                                    {% if attribute(errors, 'Password New') %} <p
                                            class="text-danger">{{ attribute(errors, 'Password New') }}</p> {% endif %}
                                </div>
                                <div class="form-group">
                                    <label>Repeat new password</label>
                                    <input class="form-control" type="password" name="password_new_confirm" value="">
                                    {% if attribute(errors, 'Password New Confirm') %} <p
                                            class="text-danger">{{ attribute(errors, 'Password New Confirm') }}</p> {% endif %}
                                </div>
                                <div class="form-group">
                                    <button type="submit" class="btn btn-primary"><i class="fa fa-floppy-o"></i> Save password</button>
                                    <!-- <a id="ui-password-reset-cancel" role="button" class="btn btn-default">Cancel</a>-->
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">

                <form method="post">
                    <input type="hidden" name="action" value="save_proxy_settings">
                    <div class="ibox float-e-margins">
                        <div class="ibox-title">
                            <h5>Proxy</h5>
                        </div>

                        <div class="ibox-content">
                            <h3>Rotation settings</h3>
                            <p class="i-checks"><label> <input type="checkbox" name="rotate_30"
                                                               value="{{ settings.rotate_30 }}"
                                            {% if settings.rotate_30 == 1 %}
                                        checked="checked"
                                            {% endif %}> Rotate 30 </label></p>
                            <p class="i-checks"><label> <input type="checkbox" name="rotate_ever"
                                                               value="{{ settings.rotate_ever }}"
                                            {% if settings.rotate_ever == 1 %}
                                        checked="checked"
                                            {% endif %}> Rotate Ever </label></p>
                            <div class="form-group">
                                <h3>Rotation type</h3>

                                <p class="i-checks"><label>
                                    <input type="radio" name="rotation_type"
                                               value="HTTP"
                                            {% if settings.rotation_type == 'HTTP' %}
                                        checked="checked"
                                            {% endif %}> HTTP </label>
                                    &nbsp;&nbsp;
                                <label>
                                    <input type="radio" name="rotation_type" value="SOCKS"
                                            {% if settings.rotation_type == 'SOCKS' %}
                                        checked="checked"
                                            {% endif %}> SOCKS </label></p>
                            </div>
                            <h3>Authorization settings</h3>
                            {% include 'dashboard/user/part-auth.html.twig' %}
                            <p>
                                <button type="submit" class="btn btn-primary btn_save_proxy_settings"><i class="fa fa-floppy-o"></i> Save proxy settings</button>
                            </p>

                        </div>
                    </div>
                </form>

            </div>

        </div>
    {% endif %}
{% endblock %}