{% extends 'dashboard/layout.html.twig' %}

{% block content %}
    <h1>Proxy replacements</h1>
    <div class="alert alert-info">
        Due to excessive demand, we are now offering proxy replacements. You are allowed to replace your amount of proxies once during the month on top of your 30-day rotation.
        <b>The 30-day rotation will take affect on the 30 days from the start of your subscription no matter when you replace your proxies.</b> That means if you replace an IP on day 29, and have your Settings page rotating you every 30 days, then the next day you would get a new IP.
    </div>

    {% include 'notifications.html.twig' %}

    <div class="row">

        <div class="col-md-6">
            <span class="hide" id="firstCountry" data-value="{{ user.first_country }}"></span>
            <div class="plan-filter">
                <div class="filter-item">
                    <div class="dropdown">
                        <button class="btn btn-default dropdown-toggle" type="button" id="ddCountryList" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                            Filter Country
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" aria-labelledby="ddCountryList">
                            {%  for country in user.plan_countries %}
                                <li class="plan-country-selector" data-value="{{ country }}"><a role="button"><img src="{{ app_url }}/gui/img/flags/16/{{ country }}.png"> {{ getCountryLabel(country) }}</a> </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
                <div class="filter-item">
                    <div class="dropdown">
                        <button class="btn btn-default dropdown-toggle" type="button" id="ddCategoryList" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                            Filter Category
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" aria-labelledby="ddCategoryList">
                            {%  for category in user.plan_categories %}
                                <li class="plan-category-selector" data-value="{{ category }}"><a role="button">{{ getProxyLabel(category) }}</a> </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
            {% for plan in user.plans %}
                <div class="ibox float-e-margins plan-box" data-country="{{ plan.country }}" data-category="{{ plan.category }}">
                    <div class="ibox-title">
                        <h4>
                            <img src="{{ app_url }}/gui/img/flags/16/{{ plan.country }}.png"> {{ getCountryLabel(plan.country) }}
                            - {{ getProxyLabel(plan.category) }}

                            <div class="pull-right">
                                {#

                                <a href="/user/replacements"
                                   class="btn btn-info btn-xs"><i class="fa fa-exchange"></i> {{ plan.replacements_left }}</a>
                                   #}

                            <div class="btn-group btn-group-xs">
                                <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <i class="fa fa-eject"></i> Export <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu">
                                    <li><a href="/user/export/ips/view/{{ plan.country }}/{{ plan.category }}">Export View</a></li>
                                    <li><a href="/user/export/ips/{{ plan.country }}/{{ plan.category }}">Export CSV</a></li>
                                </ul>
                            </div>
                                {#
                                <a href="/user/plans/edit/{{ plan.country }}/{{ plan.category }}"
                                   class="btn btn-primary btn-xs"><i class="fa fa-edit"></i> Edit</a>
                                #}
                                </div>
                        </h4>
                    </div>
                    <div class="ibox-content">

                        {% if plan.proxies %}
                            <form method="post" id="form_replace_proxy">
                                <input type="hidden" name="action" value="replace_proxy">
                                <input type="hidden" id="input_replace_proxy" name="replace_ip" value="">

                                <div class="table table-responsive">
                                    <table class="table table-striped table-hover dataTable-dashboard">
                                    <thead>
                                    <tr>
                                        {% if plan.category != 'rotate' %}
                                        <th>
                                            Mark
                                        </th>
                                        {% endif %}
                                        <th>IP</th>
                                        <th>Port</th>
                                        <th>Proxy Location</th>
                                        <th>Port Location</th>
                                        {% if plan.category != 'rotate' %}
                                        <th>
                                            Action
                                        </th>
                                        {% endif %}
                                    </tr>
                                    </thead>


                                    <tbody>
                                    {% for details in plan.proxies %}

                                        {%  if details.proxy_location == null and details.port_location == null %}
                                            <tr>
                                                <td colspan="5">You must choose a location for this proxy. You can do this <a href="/user/location-preferences">here</a></td>
                                            </tr>
                                        {%  elseif details.proxy_location != null and details.port_location == null %}
                                            <tr>
                                                <td colspan="5">Something went wrong assigning this proxy. <a href="/user/messages/compose">Contact</a> administrator.</td>
                                            </tr>
                                        {%  else %}
                                            <tr>
                                                {% if plan.category != 'rotate' %}
                                                <td>
                                                    <input type="checkbox" class="i-checks bulk_replace_ip" name="bulk_replace_ips[]" value="{{ details.ip }}"  data-country="{{ plan.country }}" data-category="{{ plan.category }}">
                                                </td>
                                                {% endif %}
                                                <td>{{ details.ip|default('pending') }}</td>
                                                <td>{{ details.port_connect|default('pending') }}</td>
                                                <td>{{ details.proxy_location|default('pending') }}</td>
                                                <td>{{ details.port_location|default('pending') }}</td>
                                            {% if plan.category != 'rotate' %}
                                                <td>
                                                    <a role="button" class="btn btn-default btn-xs ui-replace-proxy"
                                                       data-value="{{ details.ip }}"><i
                                                                class="fa fa-exchange"></i> Replace </a>
                                                    </td>
                                            {% endif %}
                                            </tr>
                                        {% endif %}
                                    {% endfor %}
                                    </tbody>
                                </table>
                                </div>
                            </form>
                            <button type="button" data-country="{{ plan.country }}" data-category="{{ plan.category }}" class="btn btn-primary btn-xs bulk_replace_action"><i class="fa fa-random"></i> Move to bulk replace</button>
                        {% endif %}
                    </div>
                </div>
            {% endfor %}
        </div>
        <div class="col-md-6">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Replacements Remaining This Period</h5>
                </div>
                <div class="ibox-content">
                    <div class="table-responsive">

            <table class="table">
                {% for country,details in user.replacements_left %}

                    <tr>
                        <td><img src="{{ app_url }}/gui/img/flags/16/{{ country }}.png"> {{ getCountryLabel(country) }} </td>
                        {% for category,replacements in details %}
                        <td>
                            {{ getProxyLabel(category) }}
                        </td>
                            <td>
                                <span class="label label-{% if category == 'rotate' %}default{% else %}info{% endif %}">{{ replacements }}</span>
                            </td>
                        {% endfor %}
                    </tr>

                {% endfor %}
            </table>
                    </div>
                </div>
            </div>
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Bulk Replacement</h5>
                </div>
                <div class="ibox-content">
                    <p>
                        Please type in the proxies from your account below that you would like replaced. After pressing Submit, wait a couple minutes and your new IP will appear in your Dashboard for you to Export out. You can also use the table(s) on the left.
                    </p>
                    <form method="post">
                        <input type="hidden" name="action" value="bulk_replace_proxy">
                        <div class="form-group">
                            <textarea class="form-control h-200" name="bulk_replace">{{ textarea_value }}</textarea>
                        </div>
                        <button class="btn btn-primary" type="submit">Bulk Replace</button>
                    </form>
                </div>
            </div>

        </div>
    </div>

{% endblock %}