<!doctype html>
<html class="no-js" lang="en">
<head>
    {% block head %}
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>{% block title %}{% endblock %}</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="apple-touch-icon" href="apple-touch-icon.png">
        <!-- Place favicon.ico in the root directory -->
        <link rel="stylesheet" href="{{ app_url }}/gui/css/bootstrap.min.css">
        <link rel="stylesheet" href="{{ app_url }}/gui/font-awesome/css/font-awesome.min.css">
        <link rel="stylesheet" href="{{ app_url }}/gui/css/style.css">
        <link rel="stylesheet" href="{{ app_url }}/gui/css/animate.css">
        <link rel="stylesheet" href="{{ app_url }}/gui/css/plugins/steps/jquery.steps.css">
        <link rel="stylesheet" href="{{ app_url }}/gui/css/plugins/iCheck/custom.css">
        <link rel="stylesheet" href="{{ app_url }}/gui/css/plugins/daterangepicker/daterangepicker-bs3.css">
        <link rel="stylesheet" href="{{ app_url }}/gui/css/plugins/colorpicker/bootstrap-colorpicker.min.css">
        <link rel="stylesheet" href="{{ app_url }}/gui/css/plugins/select2/select2.min.css">
        <link rel="stylesheet" href="{{ app_url }}/gui/css/plugins/touchspin/jquery.bootstrap-touchspin.min.css">

        <link href="{{ app_url }}/gui/css/plugins/dataTables/datatables.min.css" rel="stylesheet">

        <link href="{{ app_url }}/gui/css/plugins/sweetalert/sweetalert.css" rel="stylesheet">
        <link rel="stylesheet" href="{{ app_url }}/gui/css/custom.css">

        <script src="{{ app_url }}/gui/js/jquery-2.1.1.js"></script>
    {% endblock %}
</head>
<body>
<div id="wrapper">
    <!-- dashboard_4_1 -->
    <!-- sidebar -->
    <nav class="navbar-default navbar-static-side" role="navigation">
        <div class="sidebar-collapse">
            <ul class="nav metismenu" id="side-menu">
                <li class="nav-header"><span>
                            <img alt="image" class="img-responsive img-small" src="{{ logo_url }}"/>
                             </span>
                </li>
                {% if is_admin %}
                <li {% if(is_admin_path) %} class="active"{% endif %}>
                    <a href="#"><i class="fa fa-cog"></i> <span class="nav-label">Admin</span> <span
                                class="fa arrow"></span></a>
                    <ul class="nav nav-second-level">
                        <li><a href="{{ app_url }}/admin/dashboard">Dashboard</a></li>
                        <li><a href="{{ app_url }}/admin/users">Manage Users</a></li>
                        <li><a href="{{ app_url }}/admin/plans">Manage Plans</a></li>
                        <li><a href="{{ app_url }}/admin/payment/paypal/plans">Manage Paypal Plans</a></li>
                        <li><a href="{{ app_url }}/admin/packages">Manage Packages</a></li>
                        <li><a href="{{ app_url }}/admin/edit/app">Personalize App</a></li>
                    </ul>
                </li>
                {% endif %}
                <li>
                    <a href="{{ app_url }}/dashboard"><i class="fa fa-dashboard"></i> <span class="nav-label">Dashboard</span></a>
                </li>
                <li>
                    <a href="{{ app_url }}/user/plans"><i class="fa fa-list"></i> <span class="nav-label">Manage Plans</span></a>
                </li>
                <li>
                    <a href="{{ app_url }}/user/replacements"><i class="fa fa-exchange"></i> <span class="nav-label">Proxy Replacements</span></a>
                </li>
                <li>
                    <a href="{{ app_url }}/user/location-preferences"><i class="fa fa-globe"></i> <span class="nav-label">Location Preferences</span></a>
                </li>
                <li>
                    <a href="{{ app_url }}/user/settings"><i class="fa fa-wrench"></i> <span class="nav-label">Settings</span></a>
                </li>
                <li>
                    <a href="{{ app_url }}/user/messages"><i class="fa fa-envelope"></i> <span class="nav-label">Messages</span></a>
                </li>
            </ul>

        </div>
    </nav>
    <!-- end sidebar -->

    <!-- top navigation -->

    <div id="page-wrapper" class="gray-bg">
        <div class="row border-bottom">

            <nav class="navbar navbar-static-top white-bg" role="navigation" style="margin-bottom: 0">

                <div class="navbar-header">
                    <a class="navbar-minimalize minimalize-styl-2 btn btn-primary " href="#"><i class="fa fa-bars"></i> </a>

                </div>
                <ul class="nav navbar-top-links navbar-right">
                    <li>
                        <p class="text-muted">Welcome {{ username }}!</p>
                    </li>
                    <li class="dropdown">
                        <a class="dropdown-toggle count-info" data-toggle="dropdown" href="#">
                            <i class="fa fa-envelope"></i> {% if unread_messages_count > 0 %}<span class="label label-warning">{{ unread_messages_count }}</span>{% endif %}
                        </a>
                        <ul class="dropdown-menu dropdown-messages">
                            {% for message in unread_messages %}
                            <li>
                                <div class="dropdown-messages-box cursor-pointer" onclick="location.href='/user/message/ingoing/{{ message.id }}'">
                                    <div class="media-body ">
                                        <small class="pull-right text-navy">5h ago</small>
                                        <strong>{{ message.subject }}</strong>. <br>
                                        <small class="text-muted">{{ calcTimeElapsed(message.created_on) }}</small>
                                    </div>
                                </div>
                            </li>
                            <li class="divider"></li>
                            {% endfor %}
                            <li>
                                <div class="text-center link-block">
                                    <a href="/user/messages">
                                        <i class="fa fa-envelope"></i> <strong>Read All Messages</strong>
                                    </a>
                                </div>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="/logout_action">
                            <i class="fa fa-sign-out"></i> Log out
                        </a>
                    </li>
                </ul>

            </nav>
        </div>
        <!-- end top navigation -->

        <!-- main content -->
        <div class="wrapper wrapper-content animated fadeIn">
        {% block content %}
                <div class="clearfix"></div>
            {% endblock %}
        </div>
        <!-- end main content -->

        <div class="footer">
            <div>
                {% block footer %}
                    &copy; <strong>Copyright</strong> {{ copyright_year }} by <a
                        href="http://{{ app_url }}">{{ app_name }}</a>.
                {% endblock %}
            </div>
        </div>
    </div>

</div>

<!-- Mainly scripts -->
<script src="{{ app_url }}/gui/js/bootstrap.min.js"></script>
<script src="{{ app_url }}/gui/js/plugins/metisMenu/jquery.metisMenu.js"></script>
<script src="{{ app_url }}/gui/js/plugins/slimscroll/jquery.slimscroll.min.js"></script>
<script src="{{ app_url }}/gui/js/plugins/sweetalert/sweetalert.min.js"></script>
<script src="{{ app_url }}/gui/js/plugins/validate/jquery.validate.min.js"></script>
<script src="{{ app_url }}/gui/js/plugins/datapicker/bootstrap-datepicker.js"></script>
<script src="{{ app_url }}/gui/js/plugins/select2/select2.full.min.js"></script>
<script src="{{ app_url }}/gui/js/plugins/daterangepicker/daterangepicker.js"></script>
<script src="{{ app_url }}/gui/js/plugins/touchspin/jquery.bootstrap-touchspin.min.js"></script>
<script src="{{ app_url }}/gui/js/plugins/slimscroll/jquery.slimscroll.min.js"></script>
<script src="{{ app_url }}/gui/js/plugins/staps/jquery.steps.min.js"></script>
<script src="{{ app_url }}/gui/js/jquery.number.min.js"></script>
<script src="{{ app_url }}/gui/js/plugins/pace/pace.min.js"></script>
<script src="{{ app_url }}/gui/js/plugins/iCheck/icheck.min.js"></script>
<script src="{{ app_url }}/gui/js/plugins/iCheck/icheck.min.js"></script>
<script src="{{ app_url }}/gui/js/plugins/dataTables/datatables.min.js"></script>
<script src="{{ app_url }}/gui/js/plugins/js-cookie/src/js.cookie.js"></script>
<script src="{{ app_url }}/gui/js/plugins/clipboard/clipboard.min.js"></script>
<script src="{{ app_url }}/gui/js/common.js"></script>
<script src="{{ app_url }}/gui/js/app.js"></script>
</body>
</html>